<div ui-content-for="title">
    <span>充值</span>
</div>
<div ui-content-for="backAction">
    <a ng-click="back()" class="btn">返回</a>
</div>
<div ui-content-for="navbarAction">
    <span></span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <imageview src="'../images/banner_3.png'" data-rate="640/387"></imageview>
        <form name="chargeForm" ng-submit="ajaxForm(this)">
            <!-- <div class="section">
        <div class="semi-auto semi-left-98">
            <span class="semi-fixed-left semi-width-98 btn text-left section-wide">选择银行卡</span>
            <select class="sex block full-width form-control rectangle" ng-model="input.bank" ng-options="b as b.label for b in banks" required></select>
        </div>
    </div> -->
            <!-- <div class="section">
                <div class="semi-auto semi-left-98">
                    <span class="semi-fixed-left semi-width-98  text-left">银行卡</span>
                    <div class="">{{input.bank.label || "无相关银行卡信息"}}</div>
                </div>
            </div> -->
            <div class="section text-large" style="padding-left:24px;padding-bottom:0">
                <i class="vv vv-27 vv-me-67"></i>
                <span>{{input.bank.label || "无相关银行卡信息"}}</span>
                <!-- <b class="pull-right text-primary">选择银行卡</b> -->
            </div>
            <div class="vv-divide"></div>
            <div class="section">
                <div class="vv-input-group input-group-lg full-width">
                    <span class="vv-input-group-addon"><i class="vv vv-27 vv-me-63"></i></span>
                    <input type="number" class="form-control block full-width" name="money" ng-model="input.money" min="1" ng-pattern="/[0-9]$/" required placeholder="请输入金额">
                </div>
            </div>
            <div class="vv-divide"></div>
            <div class="section text-center" ng-if="charge_info.respcode == '0000'">
                <button type="submit" class="btn btn-lg btn-primary full-width" ng-disabled="chargeForm.$invalid">{{btn_text}}</button>
            </div>
            <div class="section text-center text-danger full-width" ng-if="charge_info.respcode != '0000'">
                {{btn_text}}
            </div>
            <div class="section">
                <p>1、请关注您的银行卡网上支付限额，超过限额将无法充值。</p>
                <p>2、充值金额经投资后方可自由提现，未投资金额提现单日限1万元。</p>
                <p>3、客服电话：4006-388-399</p>
            </div>
        </form>
    </div>
</div>
