<!-- by dribehance <dribehance.kksdapp.com> -->
<!-- <div ui-content-for="title">标题</div>
<div ui-content-for="navbarAction">右侧菜单</div>
<div ui-content-for="backAction">
	<span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div> -->
<div class="scrollable">
	<div class="scrollable-content">
		<form action="https://yintong.com.cn/llpayh5/payment.htm" method="post" id="payForm">
			<input type="hidden" name="req_data" value="{{req_data}}">
			<div class="section">
				当前余额：{{charge_balance | currency:"￥"}}
			</div>
			<div class="section">
				充值金额：{{charge_money | currency:"￥"}}
			</div>
			<div class="section">
				充值银行：{{charge_bankname}}
			</div>
			<div class="section">
				<button type="submit" class="btn btn-primary full-width">去网上银行充值</button>
			</div>
		</form>
	</div>
</div>