<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">众筹</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div>
<div class="scrollable">
    <div class="scrollable-content bg-transparent">
        <div class="vv-divide"></div>
        <div class="section section-wide section-sm">
            <a ng-href="#/bills" class="block text-grey semi-auto semi-left-30 semi-right-50">
                <span class="semi-fixed-left semi-width-40 text-center">
                <i class="vv vv-35 vv-me-2"></i>
            </span>
                <span class="btn">我支持的众筹</span>
                <span class="semi-fixed-right semi-width-50 text-center">
                <i class="vv vv-arrow-right vv-35"></i>
            </span>
            </a>
        </div>
        <div class="vv-divide"></div>
        <div class="section section-wide section-sm">
            <a ng-href="#/investment" class="block text-grey semi-auto semi-left-30 semi-right-50">
                <span class="semi-fixed-left semi-width-40 text-center">
                <i class="vv vv-35 vv-me-3"></i>
            </span>
                <span class="btn">我的关注</span>
                <span class="semi-fixed-right semi-width-50 text-center">
                <i class="vv vv-arrow-right vv-35"></i>
            </span>
            </a>
        </div>
    </div>
</div>
