<!-- by dribehance <dribehance.kksdapp.com> -->
<!-- <div ui-content-for="title">标题</div>
<div ui-content-for="navbarAction">右侧菜单</div>
<div ui-content-for="backAction">
	<span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div> -->
<div class="scrollable">
    <div class="scrollable-header">
        <div class="btn-group justified bg-primary">
            <a ng-click="categoryFilter(category)" class="btn text-white section-wide bg-transparent" ng-class="{'active':category.id == filter_category.id}" ng-repeat="category in categories" ng-if="$index <4">
                <span class="tag">{{category.categoryName}}<i class="triangle"></i></span>
            </a>
            <a ng-href="#/eyuan_mall/shopping_cart" class="btn text-white">
                <i class="vv vv-20 vv-shopping-cart"></i>
                <span class="tag">购物车<i class="triangle"></i></span>
            </a>
        </div>
    </div>
    <div class="scrollable-content">
        <div class="hotels">
            <a ng-href="#/eyuan_mall/hotels/{{item.goodsId}}" class="hotel block bg-white-grey" ng-repeat="item in emall_items">
                <imageview data-rate="580/300" src="item.logo"></imageview>
                <div class="intro">
                    <div class="text-ellipsis title">{{item.goodsName}}</div>
                    <div class="summary">
                        {{item.summary}}
                    </div>
                </div>
            </a>
        </div>
        <a ng-click="loadMore()" class="section m btn block full-width text-large text-grey">{{page.message}}</a>
    </div>
</div>
