<!-- by dribehance <dribehance.kksdapp.com> -->
<!-- <div ui-content-for="title">标题</div>
<div ui-content-for="navbarAction">右侧菜单</div>
<div ui-content-for="backAction">
	<span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div> -->
<div class="scrollable">
	<div class="scrollable-content">
		<div class="hotels">
			<a ng-href="#/eyuan_mall/hotels/1" class="hotel block" ng-repeat="hotel in hotels">
				<imageview rate="580/300" src="hotel"></imageview>
				<div class="intro">
					<div class="text-ellipsis title">希尔顿南海酒店大床房1晚</div>
					<div class="summary">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore reiciendis soluta, animi veniam ab aperiam mollitia est architecto distinctio deserunt ex iusto molestias, quidem ullam laboriosam neque accusamus obcaecati fugit?
					</div>
				</div>
			</a>
		</div>
	</div>
</div>