<!-- by dribehance <dribehance.kksdapp.com> -->
<!-- <div ui-content-for="title">标题</div>
<div ui-content-for="navbarAction">右侧菜单</div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div> -->
<div class="scrollable">
    <div class="scrollable-content">
        <!-- dynamic -->
        <div style="width:100%;overflow:hidden">
            <imageview data-rate="580/300" src="emall_item.logo"></imageview>
        </div>
        <div class="section">
            <div class="h3">{{emall_item.goodsName}}</div>
            <div class="text-grey">{{emall_item.summary}}</div>
        </div>
        <div class="section">
            <div class="btn-group justified">
                <span class="btn btn-primary rectangle" ng-click="try(emall_item.goodsId)">
                    {{emall_item.luckPrice}}e圆试手气
                </span>
                <span class="btn">
                    <span class="text-orange">123456</span>人已获奖
                </span>
            </div>
        </div>
        <div class="vv-divide"></div>
        <div class="section">
            <div>兑换价格：<span class="text-orange">{{emall_item.exchangPrice}}</span>e圆</div>
            <div>兑换数量：
                <select>
                    <option value="10000">10000</option>
                </select>
                已经有<span class="text-orange">1000</span>人兑换此商品
            </div>
        </div>
        <div class="vv-divide"></div>
        <div class="section">
            <div class="btn-group justified">
                <div class="section section-condensed text-white" style="padding-left:0">
                    <a ng-href="#/eyuan_mall/payment" class="btn btn-primary rectangle full-width">
                        立即兑换
                    </a>
                </div>
                <div class="section section-condensed text-white" style="padding-right:0">
                    <a ng-click="addToCart()" class="btn btn-warning rectangle full-width">
                        加入购物车
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div ui-content-for="modals">
    <div class="modal" ui-if="award_panel" ui-state='award_panel'>
        <div class="modal-backdrop in" ui-turn-off="award_panel"></div>
        <div class="modal-dialog niuniu-dialog">
            <span class="off" ui-turn-off="award_panel"></span>
            <div class="niuniu" ng-class="{'happy':prize.status == 1,'cry':prize.status == '0'}"></div>
            <!-- <div class="section text-white" style="position:absolute;background-color:#f70;opacity:0.7">{{prize.message}}</div> -->
            <div class="footer text-white" ng-if="prize.status==1">
                <a ng-href="#/eyuan_mall/shopping_cart" class="btn btn-primary">点击查看产品</a>
            </div>
            <div class="footer" ng-if="prize.status==0">
                <span class="btn btn-primary" ui-turn-off="award_panel">就差一点点，再接再厉！</span>
            </div>
        </div>
    </div>
    <div class="modal" ui-if="password_panel" ui-state='password_panel'>
        <div class="modal-backdrop in" ui-turn-off="password_panel"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    请输入交易密码
                    <span class="off" ui-turn-off="password_panel"></span>
                </div>
                <div class="modal-body">
                    <form ng-submit="ajaxForm()" name="passwordForm">
                        <p>
                            <input type="password" class="form-control rectangle" ng-model="input.password" required placeholder="请输入交易密码">
                        </p>
                        <button type="submit" class="btn btn-primary block full-width rectangle" ng-disabled="passwordForm.$invalid">确认</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
