<!-- by dribehance <dribehance.kksdapp.com> -->
<!-- <div ui-content-for="title">标题</div>
<div ui-content-for="navbarAction">右侧菜单</div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div> -->
<div class="scrollable">
    <div class="scrollable-content">
        <!-- dynamic -->
        <banner data-options="{}" data-rate="4/2.5">
            <div class="image-holder" ng-repeat="b in input.banners track by $index" on-repeat-done>
                <img ng-src="{{b}}" err-src="{{staticImageUrl+'images/banner_1.png'}}" class="block full-width" alt="">
            </div>
        </banner>
        <div class="section">
            <div class="h3">{{emall_item.goodsName}}</div>
            <div class="text-grey">{{emall_item.summary}}</div>
        </div>
        <div class="section">
            <div class="btn-group justified">
                <span class="btn rectangle text-white" ng-class="{'bg-grey':(emall_item.goodsNumber ==0 || emall_item.luckPrice == '0'),'btn-primary':(emall_item.goodsNumber >0 && emall_item.luckPrice != '0')}" ng-click="try()">
                    {{emall_item.luckPrice | currency:"" }}e圆试手气
                </span>
                <span class="btn">
                    <span class="text-orange">{{emall_item.isWinSum}}</span>人已获奖
                </span>
            </div>
        </div>
        <div class="vv-divide"></div>
        <div class="section">
            <p>兑换价格：<span class="text-orange">{{emall_item.exchangPrice | currency:"" }}</span>e圆</p>
            <div>兑换数量：
                <select name="selected_amount" ng-model="input.amount" ng-options="o as o for o in amount_options" required></select>
                已经有<span class="text-orange">{{emall_item.cartSum || "0"}}</span>人兑换此商品
            </div>
        </div>
        <div class="vv-divide"></div>
        <div class="section">
            <div class="btn-group justified">
                <div class="section section-condensed text-white" style="padding-left:0;display: table-cell;width: 50%;">
                    <a class="btn rectangle text-white full-width" ng-class="{'bg-grey':emall_item.goodsNumber ==0,'btn-primary':emall_item.goodsNumber >0}" ng-click="exchange()">
                        立即兑换
                    </a>
                </div>
                <div class="section section-condensed text-white" style="padding-right:0;display: table-cell;width: 50%;">
                    <button ng-click="addToCart()" class="btn rectangle full-width" ng-class="{'bg-grey':emall_item.goodsNumber ==0,'btn-warning':emall_item.goodsNumber >0}">
                        加入购物车
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div ui-content-for="modals">
    <div class="modal" ui-if="award_panel" ui-state='award_panel'>
        <div class="modal-backdrop in" ui-turn-off="award_panel"></div>
        <div class="modal-dialog niuniu-dialog">
            <span class="off" ui-turn-off="award_panel"></span>
            <div class="niuniu" ng-class="{'happy':prize_status == 1,'cry':prize_status == 0}"></div>
            <!-- <div class="section text-white" style="position:absolute;background-color:#f70;opacity:0.7">{{prize.message}}</div> -->
            <div class="footer text-white" ng-if="prize_status==1">
                <a ng-href="#/eyuan_mall/shopping_cart" class="btn btn-primary">点击查看产品</a>
            </div>
            <div class="footer" ng-if="prize_status==0">
                <span class="btn btn-primary" ui-turn-off="award_panel">就差一点点，再接再厉！</span>
            </div>
        </div>
    </div>
    <div class="modal" ui-if="password_panel" ui-state='password_panel'>
        <div class="modal-backdrop in" ui-turn-off="password_panel"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    请输入交易密码
                    <span class="off" ui-turn-off="password_panel"></span>
                </div>
                <div class="modal-body">
                    <form ng-submit="try()" name="passwordForm">
                        <p>
                            <input type="password" class="form-control rectangle" ng-model="input.password" required placeholder="请输入交易密码">
                        </p>
                        <p ng-show="input.message" class="text-orange">{{input.message}}</p>
                        <button type="submit" class="btn btn-primary block full-width rectangle" ng-disabled="passwordForm.$invalid">确认</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
