<!-- <div ui-content-for="title">
    <span><b>优选项目 快乐投资</b></span>
</div>
<div ui-content-for="backAction"></div>
<div ui-content-for="navbarAction">
    <a ng-href="#/me" class="btn"><i class="vv vv-35 vv-me-top"></i></a>
</div> -->
<div class="scrollable">
    <div class="scrollable-content">
        <!-- <div class="navbar navbar-app" style="margin-bottom:0;background-color:white">
            <div class="navbar-brand navbar-brand-center text-black"><span><b>优选项目 快乐投资</b></span></div>
            <div class="btn-group pull-left"></div>
        </div> -->
        <banner data-options="{}" data-rate="320/70">
            <div class="image-holder" ng-repeat="b in banners" on-repeat-done>
                <img ng-src="{{b.path}}" class="block full-width" alt="">
            </div>
        </banner>

    <div class="content">
    <div class="cf_nav">
        <ul class="clearfix">
            <li class="cur"><a id="fundList" ng-click="queryCrowdFundsAndProject(1)">优租宝</a></li>
            <li><a id="stableList" ng-click="queryCrowdFundsAndProject(0)">优贷宝</a></li>
        </ul>
        <span class="line"></span>
    </div>

    <div class="chipsList" ng-repeat="fund in crowdFunds" ng-show="type == 1">
    <a ng-click="queryDetails(fund)" class="swipeArea">
    <section class="chips_tent">
       <h3><span>{{fund.fundsName}}</span></h3>
       <p><img ng-src="{{fund.small}}" alt="" /></p>
       <span class="icon"><b>{{fund.fundStatus}}</b></span>
    </section>
    </a>
    <section class="chips_infos">
        <ul class="clearfix">
            <li>
                <p class="Bold f22">期限</p>
                <p class="red f36">30-120<span class="f24">天</span></p> 
                <!--<p class="f16">（人）</p>-->
                <i class="icon"></i>
            </li>
          <li>
                <p class="Bold f22">年化收益率</p>
                <p class="red f36">
                    11<i class="f24">%</i>-14<i class="f24">%</i> 
                </p>
                <!--<p class="f16">（元）</p>-->
            <i class="icon"></i>
            </li>
          <li>
                <p class="Bold f22">募集进度</p>
                <p class="red f36">10<i class="f24">%</i></p>
               <!-- <p class="f16">（天）</p>-->

          </li>
        </ul>
    </section>
    <div class="investList innerList" ng-show="fund.reward.length > 0">
    <ul class="f14" ng-repeat="reward in fund.reward">
        <li>
            <span>{{reward.period}}天</span>
            <span class="orange">{{reward.rate}}%</span>
            <span class="f14">{{reward.addPeriod}}</span>
            <span><a ng-href="#/crowdFund/support/one/{{reward.rewardId}}" class="touziBtn f14">立即投资</a></span>
        </li>
    </ul>
</div>
</div>


    <div class="projectList" ng-repeat="product in products" ng-show="type == 0"  on-repeat-done>
        <a ng-href="#/products/{{product.id}}">
            <dl class="clearfix">
                <dt>
                    <p class="para01">{{product.title}}</p>
                    <p class="para02">
                        <span class="f18 blue">
                            <span class="text-very-big text-primary">{{ product.percentage | currency:"" }}%</span>
                            <span class="text-orange" ng-show="product.addition !=0">{{"+"+product.addition +"%"}}</span>
                        </span>
                        <span class="f20 month"><b>{{ product.duration}} {{ product.unit }} </b></span>
                    </p>
                    <p class="para03">
                        <span>{{ product.projectChannelType }}</span>
                        <span ng-show="product.emoney != 0">赠送{{product.emoney}}e圆</span>
                    </p>
                </dt>
                <dd>
                    <div class="fd_progress">
                        <div class="circle circle01">
                            <canvas class="canvasObj" width="118" height="118"></canvas>
                            <em class="canvasCover"></em>
                            <b type="text">{{product.progress+"%"}}</b> 
                        </div>
                    </div>
                </dd>
            </dl>
        </a>
    <div class="vv-divide vv-1 bg-light-grey"></div>
    </div>


</div>

        <div class="vv-divide vv-5 bg-light-grey"></div>
        <a ng-click="loadMore()" class="section btn block full-width text-large text-grey">{{load_more_message}}</a>

    </div>
</div>
