<div ui-content-for="backAction">
    <!-- <a ui-turn-on="search" class="btn">
        <i class="vv vv-search vv-27"></i>
    </a> -->
</div>
<div ui-content-for="title">
    <span ui-turn-on="filterDropdown">{{ current_exchange.name ==""?"理财产品":current_exchange.name }}<i class="vv vv-23 vv-dropdown"></i></span>
</div>
<div class="filter-dropdown-hood">
    <ul class="dropdown-menu" ui-outer-click="Ui.turnOff('filterDropdown')" ui-outer-click-if="Ui.active('filterDropdown')" role="menu" ui-show="filterDropdown" ui-state="filterDropdown" ui-turn-off="filterDropdown">

        <li ng-repeat="(name,exchange) in exchanges track by name" class="section">
            <div ng-click="queryByExchange(exchange)" class="section">{{exchange.name}}</div>
        </li>
    </ul>
</div>
<div ui-content-for="navbarAction">
    <a ng-click="reload()" class="btn">刷新</a>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="group" ng-repeat="group in groups" ng-show="groups">
            <div class="section group-header">
                <div class="semi-auto semi-right-50">
                    <span class="text-ellipsis">{{group.name}}</span>
                    <div class="semi-fixed-right semi-width-50 text-right text-grey" ng-click="query({'name':group.name,'code':gruop.code})">更多</div>
                </div>
            </div>
            <div class="group-items">
                <a ng-href="#/products/{{product.id}}" class="block section group-item tag-{{product.tag}}" ng-repeat="product in group.products">
                    <div class="semi-auto semi-right-50">
                        <h3 class="text-ellipsis text-black normal">{{product.title}}</h3>
                        <span class="semi-fixed-right semi-width-50">
                            <i class="vv vv-tag vv-46"></i>
                        </span>
                    </div>
                    <div class="section-wide text-grey row">
                        <div class="col-xs-7 nowrap">
                            <span class="tag-state text-very-big"><b>{{ product.percentage | currency:"" }}%</b></span>
                            <sub class="tag-state text-small">
                                <b>{{"+"+product.addition +"%"}}</b>
                                <i class="vv vv-43 vv-state"></i>
                            </sub>
                        </div>
                        <div class="col-xs-5 text-right text-ellipsis" style="padding:5px 5px 0 0">
                            <div class="text-grey text-right">{{product.feature}}</div>
                            <span class="tag-state">{{product.duration}}</span>天<span class="tag-state">{{product.limit}}</span>元起投
                        </div>
                    </div>
                    <span class="item-state"><i class="vv vv-stamp vv-87"></i></span>
                </a>
            </div>
        </div>
        <div class="group" ng-show="products.length>0">
            <div class="group-items">
                <a ng-href="#/products/1" class="block section group-item tag-{{product.tag}}" ng-repeat="product in products">
                    <div class="semi-auto semi-right-50">
                        <h3 class="text-ellipsis text-black">{{product.title}}</h3>
                        <span class="semi-fixed-right semi-width-50">
                            <i class="vv vv-tag vv-46"></i>
                        </span>
                    </div>
                    <p class="text-grey text-right">{{product.feature}}</p>
                    <div class="section-wide text-grey row">
                        <div class="col-xs-8 nowrap">
                            <span class="tag-state text-very-big">{{ product.percentage | currency:"" }}%</b></span>
                            <sub class="tag-state text-large">
                                <b>{{"+"+product.addition +"%"}}</b>
                                <i class="vv vv-43 vv-state"></i>
                            </sub>
                        </div>
                        <div class="col-xs-4 text-right text-ellipsis">
                            <span class="tag-state">{{product.duration}}</span>天<span class="tag-state">{{product.limit}}</span>元起投
                        </div>
                    </div>
                    <span class="item-state"><i class="vv vv-stamp vv-87"></i></span>
                </a>
            </div>
        </div>
        <div ng-show="!products.length>0 && !groups" class="text-center">暂无数据</div>
        <div class="vv-divide vv-15"></div>
    </div>
</div>
