<div ui-content-for="title">
    <span></span>
</div>
<div ui-content-for="navbarAction">
    <a href="#/setting" class="btn">
        <i class="vv vv-seting vv-38"></i>
    </a>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="section me-info">
        <div class="btn-group justified">
            <span class="btn section-wide text-left">
                <a ng-click="back()" class="vv vv-back vv-38"></a>
            </span>
            <span class="btn section-wide text-right">
                <a ng-href="#/setting" class="vv vv-setting vv-38"></a>
            </span>
        </div>
            <div class="semi-auto semi-left-75">
                <span class="semi-fixed-left semi-width-75">
					<img ng-src="{{ user.avatar || staticImageUrl +'images/default-avatar.png'}}" alt="">
				</span>
                <div class="section bg-primary">
                    <p class="text-large"><b>{{ user.username || "..." }}</b>
                    </p>
                    <p class="text-ellipsis" style="font-size:14px">您的总收益：{{ user.earning | currency:"" }}元</p>
                </div>
            </div>
        </div>
        <div class="btn-group justified bg-dark-blue text-white">
            <a ng-href="#/charge" class="btn text-white">充值</a>
            <a ng-href="#/cash" class="btn text-white">提现</a>
        </div>
        <div class="row bg-white section section-wide">
            <div class="col-xs-6 section-wide text-center">
                <span class="text-grey"><strong>总资产（元）</strong></span>
                <div class="text-orange text-large text-ellipsis"><strong>{{user.total | currency:"￥"}}</strong></div>

            </div>
            <div class="col-xs-6 section-wide text-center">
                <span class="text-grey"><strong>可用金额（元）</strong></span>
                <div class="text-orange text-large text-ellipsis"><strong>{{ user.frozen | currency:"￥"}}</strong></div>
            </div>
        </div>
        <div class="vv-divide"></div>
        <div class="section section-wide section-sm">
            <a ng-href="#/investment" class="block text-grey semi-auto semi-left-30 semi-right-50">
                <span class="semi-fixed-left semi-width-40 text-center">
        		<i class="vv vv-35 vv-investment"></i>
        	</span>
                <span class="btn">我的投资</span>
                <span class="semi-fixed-right semi-width-50 text-center">
        		<i class="vv vv-arrow-right vv-35"></i>
        	</span>
            </a>
        </div>
        <div class="vv-divide"></div>
        <div class="section section-wide section-sm">
            <a ng-href="#/bills" class="block text-grey semi-auto semi-left-30 semi-right-50">
                <span class="semi-fixed-left semi-width-40 text-center">
        		<i class="vv vv-35 vv-bill"></i>
        	</span>
                <span class="btn">资金明细</span>
                <span class="semi-fixed-right semi-width-50 text-center">
        		<i class="vv vv-arrow-right vv-35"></i>
        	</span>
            </a>
        </div>
        <!-- <div class="vv-divide vv-5"></div>
        <div class="section section-wide section-sm">
            <a ng-href="#/activities" class="block text-grey semi-auto semi-left-30 semi-right-50">
                <span class="semi-fixed-left semi-width-40 text-center">
        		<i class="vv vv-35 vv-activity"></i>
        	</span>
                <span class="btn">活动中心</span>
                <span class="semi-fixed-right semi-width-50 text-center">
        		<i class="vv vv-arrow-right vv-35"></i>
        	</span>
            </a>
        </div>
        <div class="vv-divide"></div>
        <div class="section section-wide section-sm">
            <a ng-href="#/eyuan" class="block text-grey semi-auto semi-left-30 semi-right-50">
                <span class="semi-fixed-left semi-width-40 text-center">
        		<i class="vv vv-35 vv-e"></i>
        	</span>
                <span class="btn">我的E圆</span>
                <span class="semi-fixed-right semi-width-50 text-center">
        		<i class="vv vv-arrow-right vv-35"></i>
        	</span>
            </a>
        </div> -->
        <!-- <div class="vv-divide"></div>
        <div class="section section-wide section-sm">
            <a ng-href="#/pocket" class="block text-grey semi-auto semi-left-30 semi-right-50">
                <span class="semi-fixed-left semi-width-40 text-center">
        		<i class="vv vv-35 vv-pocket"></i>
        	</span>
                <span class="btn">我的红包</span>
                <span class="semi-fixed-right semi-width-50 text-center">
        		<i class="vv vv-arrow-right vv-35"></i>
        	</span>
            </a>
        </div> -->
        <div class="vv-divide"></div>
        <div class="section section-wide section-sm">
            <a ng-href="#/messages" class="block text-grey semi-auto semi-left-30 semi-right-50">
                <span class="semi-fixed-left semi-width-40 text-center">
        		<i class="vv vv-35 vv-message"></i>
        	</span>
                <span class="btn">我的消息</span>
                <span class="semi-fixed-right semi-width-50 text-center">
        		<i class="vv vv-arrow-right vv-35"></i>
        	</span>
            </a>
        </div>
        <div class="vv-divide vv-5"></div>
        <div class="vv-divide vv-5"></div>
        <div class="vv-divide vv-5"></div>
    </div>
</div>
