<!-- by dribehance <dribehance.kksdapp.com> -->
<!-- <div ui-content-for="title">标题</div>
<div ui-content-for="navbarAction">右侧菜单</div>
<div ui-content-for="backAction">
	<span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div>
 -->
<div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group" style="margin-bottom:0" ng-repeat="(key,value) in orders">
            <div class="list-group-header section bg-white-grey">
                {{key}}
            </div>
            <div class="list-group-item" ng-repeat="order in value">
                <div class="order-item" ng-click="queryOrderById(order.orderId)">
                    <div class="order-thumbnail">
                        <img ng-src="{{order.logo}}" alt="" class="block full-width">
                    </div>
                    <div class="section text-ellipsis">{{order.goodsName}}</div>
                    <p class="clearfix section" style="padding-top:0">
                        <span class="pull-left">{{parseTime(order.createdTime)}}</span>
                        <span class="pull-right">x{{order.quantity}}<i class="bega" ng-show="order.winLog == 1">奖</i></span>
                    </p>
                    <div class="order-price">
                        {{order.price | currency:""}} e圆
                    </div>
                    <div class="order-status">
                        {{query_order_status(order.status)}}
                    </div>
                </div>
            </div>
        </div>
        <div class="section text-center" ng-show="no_order">暂无订单</div>
    </div>
</div>
