<!-- by dribehance <dribehance.kksdapp.com> -->
<!-- <div ui-content-for="title">标题</div>
<div ui-content-for="navbarAction">右侧菜单</div>
<div ui-content-for="backAction">
	<span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div> -->
<div class="scrollable">
    <div class="scrollable-content">
        <div class="section">
            <div class="order-item">
                <div class="order-thumbnail">
                    <img ng-src="../images/order_example.png" alt="" class="block full-width">
                </div>
                <div class="section text-ellipsis">希尔顿南海标准房1晚</div>
                <p class="clearfix section" style="padding-top:0">
                    <span class="pull-left">09-06 12:12</span>
                </p>
            </div>
        </div>
        <div class="vv-divide"></div>
        <div class="section clearfix">
        	<div class="pull-left">数量:x3</div>
        	<div class="pull-right">兑换单价: <span class="text-orange">10,000e圆</span></div>
        </div>
        <div class="section clearfix">
        	<div class="pull-left">收货人</div>
        	<div class="pull-right">联系电话：13612361236</div>
        </div>
       	<div class="section">收货地址：广东省 深圳市 罗湖区 京基100 68楼</div>
        <div class="section">快递单号：265232658623626 顺丰快递 已到达深圳中转仓库</div>
        <div class="section">商品详细信息</div>
        <div class="section">
        	<img ng-src="../images/qrcode_example.png" class="block full-width" alt="">
        </div>
    </div>
</div>
