<!-- by dribehance <dribehance.kksdapp.com> -->
<!-- <div ui-content-for="title">标题</div>
<div ui-content-for="navbarAction">右侧菜单</div>
<div ui-content-for="backAction">
	<span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div> -->
<div class="scrollable">
    <div class="scrollable-content">
        <div class="section">
            <div class="order-item">
                <div class="order-thumbnail">
                    <img ng-src="{{order.logo}}" alt="" class="block full-width">
                </div>
                <div class="section text-ellipsis">{{order.goodsName}}</div>
                <p class="clearfix section" style="padding-top:0">
                    <span class="pull-left">{{parseTime(order.createdTime)}}</span>
                </p>
            </div>
        </div>
        <div class="vv-divide"></div>
        <div class="section clearfix">
        	<div class="pull-left">数量:x{{order.quantity}}</div>
        	<div class="pull-right">兑换单价: <span class="text-orange">{{order.price}}e圆</span></div>
        </div>
        <div class="section clearfix">
        	<div class="pull-left">收货人：{{order.contractName}}</div>
        	<div class="pull-right">联系电话：{{order.contractPhone}}</div>
        </div>
       	<div class="section">收货地址：{{order.contractAddress}}</div>
        <div class="section">快递单号：{{order.expressNo}} {{order.expressCompany}} {{order.expressDetails}}</div>
        <div class="section">商品详细信息</div>
        <div class="section">
        	<img ng-src="{{order.logo}}" class="block full-width" alt="">
        </div>
    </div>
</div>
