<!-- by dribehance <dribehance.kksdapp.com> -->
<!-- <div ui-content-for="title">标题</div>
<div ui-content-for="navbarAction">右侧菜单</div>
<div ui-content-for="backAction">
	<span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div> -->
<div class="scrollable">
    <div class="scrollable-content">
        <div class="section">
            <div class="order-item">
                <div class="order-thumbnail">
                    <img ng-src="{{order.logo}}" alt="" class="block full-width">
                </div>
                <div class="section text-ellipsis">{{order.goodsName}}</div>
                <p class="clearfix section" style="padding-top:0">
                    <span class="pull-left">{{parseTime(order.createdTime)}}</span>
                </p>
                <div class="order-status">
                    <a class="btn btn-success" style="padding-top:0;padding-bottom:0">{{query_order_status(order.status)}}</a>
                </div>
            </div>
        </div>
        <div class="vv-divide"></div>
        <div class="section clearfix">
        	<div class="pull-left">数量:x{{order.quantity}}<i class="bega" ng-show="order.winLog == 1">奖</i></div>
        	<div class="pull-right">兑换单价: <span class="text-orange">{{order.price | currency:""}}e圆</span></div>
        </div>
        <div class="section clearfix">
        	<div class="pull-left">收货人：{{order.contractName}}</div>
        	<div class="pull-right">联系电话：{{order.contractPhone}}</div>
        </div>
       	<div class="section">收货地址：{{order.contractAddress}}</div>
        <div class="section" ng-show="order.status >1 && order.expressNo != ''">
            快递单号：{{order.expressNo}} {{order.expressCompany}}
            <div class="section section-wide text-white">
                <a ng-href="{{order.expressDetails}}" class="btn btn-primary full-width">查看详细快递信息</a>
            </div>
        </div>
        <div class="section" ng-show="order.status == 2 && order.expressNo == ''">
            您的商品已经发货，具体详情请联系客服：<a href="tel:4006-388-399">4006-388-399</a>
        </div>
        <div class="section" ng-show="{{order.description}}">
            <p>商品详细信息</p>
        	<div ng-bind-html="trustAsHtml(order.description)"></div>
        </div>
    </div>
</div>
