<!-- by dribehance <dribehance.kksdapp.com> -->
<!-- <div ui-content-for="title">标题</div>
<div ui-content-for="navbarAction">右侧菜单</div>
<div ui-content-for="backAction">
	<span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div>
 -->
<div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group">
            <div class="list-group-header section bg-white-grey">
                2015-09
            </div>
            <div class="list-group-item">
                <div class="order-item">
                    <div class="order-thumbnail">
                        <img ng-src="../images/order_example.png" alt="" class="block full-width">
                    </div>
                    <div class="section text-ellipsis">希尔顿南海标准房1晚</div>
                    <p class="clearfix section" style="padding-top:0">
                        <span class="pull-left">09-06 12:12</span>
                        <span class="pull-right">x1</span>
                    </p>
                    <div class="order-price">
                        100,00.00 e圆
                    </div>
                </div>
                <div class="order-item">
                    <div class="order-thumbnail">
                        <img ng-src="../images/order_example.png" alt="" class="block full-width">
                    </div>
                    <div class="section text-ellipsis">希尔顿南海标准房1晚</div>
                    <p class="clearfix section" style="padding-top:0">
                        <span class="pull-left">09-06 12:12</span>
                        <span class="pull-right">x1</span>
                    </p>
                    <div class="order-price">
                        100,00.00 e圆
                    </div>
                </div>
            </div>
            <div class="list-group-header section bg-white-grey">
                2015-09
            </div>
            <div class="list-group-item">
                <div class="order-item">
                    <div class="order-thumbnail">
                        <img ng-src="../images/order_example.png" alt="" class="block full-width">
                    </div>
                    <div class="section text-ellipsis">希尔顿南海标准房1晚</div>
                    <p class="clearfix section" style="padding-top:0">
                        <span class="pull-left">09-06 12:12</span>
                        <span class="pull-right">x1</span>
                    </p>
                    <div class="order-price">
                        100,00.00 e圆
                    </div>
                </div>
                <div class="order-item">
                    <div class="order-thumbnail">
                        <img ng-src="../images/order_example.png" alt="" class="block full-width">
                    </div>
                    <div class="section text-ellipsis">希尔顿南海标准房1晚</div>
                    <p class="clearfix section" style="padding-top:0">
                        <span class="pull-left">09-06 12:12</span>
                        <span class="pull-right">x1</span>
                    </p>
                    <div class="order-price">
                        100,00.00 e圆
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
