<!-- by dribehance <dribehance.kksdapp.com> -->
<!-- <div ui-content-for="title">标题</div>
<div ui-content-for="navbarAction">右侧菜单</div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div> -->
<div class="scrollable">
    <div class="scrollable-content">
        <div ng-if="!input.payment_result">
            <div class="section text-very-big">结算</div>
            <div class="section text-large">收货人</div>
            <div class="section">
                <p>{{delivery.recipientName || "未填写"}}</p>
                <p>{{delivery.provider.providerName +" "+delivery.city.cityName}} {{delivery.address || '未填写'}}</p>
                <p>{{delivery.recipientPhone || "未填写"}}</p>
                <a class="btn section-wide" ng-click="modifyAddress()">修改</a>
            </div>
            <div class="section text-large">发货单</div>
            <div class="section section-condensed">
                <p class="clearfix" ng-repeat="product in products">
                    <span class="col-xs-4 section-wide text-ellipsis">
                    {{product.goodsName}}
                </span>
                    <span class="col-xs-3 section-wide text-ellipsis text-center">
                    {{product.price | currency:""}} 
                </span>
                    <span class="col-xs-3 section-wide text-ellipsis text-center">
                    x{{product.quantity}}
                    <i class="bega" ng-show="product.winlog == '1'">奖</i>
                </span>
                    <span class="col-xs-2 section-wide text-ellipsis text-center">
                    <i ng-show="product.status=='1'">有货</i>
                    <i ng-show="product.status=='0'">缺货</i>
                </span>
                </p>
            </div>
            <div class="vv-divide vv-1"></div>
            <div class="section clearfix">
                <div class="pull-left">{{delivery.goodsNum}}件商品,e圆总额：{{delivery.totalAmount | currency:""}}</div>
                <div class="pull-right">账户e圆总额：{{delivery.emoney | currency:""}}</div>
            </div>
            <div class="section clearfix section-condensed">
                <div class="pull-left">应付e圆总额：<span class="text-large text-orange">{{delivery.totalAmount | currency:""}}</span></div>
            </div>
            <div class="section clearfix section-condensed text-primary">
                <a ng-href="#/investment_projects" class="pull-right text-primary">e圆不足?去投资获得更多e圆</a>
            </div>
            <div class="section" style="padding-top:50px">
                <div class="row">
                    <div class="col-xs-3 text-ellipsis"><span class="btn section-wide">交易密码</span></div>
                    <div class="col-xs-5 section-wide">
                        <input type="password" class="form-control rectangle" ng-model="input.password" placeholder="请输入交易密码">
                    </div>
                    <div class="col-xs-3">
                        <button class="btn rectangle text-white" ng-class="{'btn-warning':input.password!='','bg-grey':input.password==''}" ng-disabled="input.password ==''" ng-click="pay()">提交支付</button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="input.payment_result">
            <div class="section text-very-big">支付</div>
            <div class="section text-large">恭喜您已经支付成功，我们将尽快给您发货，请保持联系畅通</div>
            <div class="section text-center text-white">
                <a class="btn btn-primary" ng-click="queryOrders()">查看订单</a>
            </div>
        </div>
    </div>
</div>
<div ui-content-for="modals">
    <div class="modal" ui-if="address_panel" ui-state='address_panel'>
        <div class="modal-backdrop in" ui-turn-off="address_panel"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    修改收货地址
                    <span class="off" ui-turn-off="address_panel"></span>
                </div>
                <div class="modal-body">
                    <form ng-submit="ajaxForm()" name="addressForm">
                        <div class="section">
                            <div class="semi-auto semi-left-75">
                                <span class="semi-fixed-left semi-width-750 text-left btn section-wide">收货人</span>
                                <input type="text" class="form-control block full-width rectangle" name="username" ng-model="input.username" required placeholder="请填写收货人真实姓名">
                            </div>
                        </div>
                        <div class="section">
                            <div class="semi-auto semi-left-75">
                                <span class="semi-fixed-left semi-width-750 text-left btn section-wide">联系电话</span>
                                <input type="text" class="form-control block full-width rectangle" name="telephone" ng-model="input.telephone" required ng-pattern="/(^(13\d|14[57]|15[^4,\D]|17[678]|18\d)\d{8}|170[059]\d{7})$/" placeholder="请填写手机号码">
                                <span class="vv-input-tip text-orange" ng-show="addressForm.telephone.$dirty && addressForm.telephone.$invalid">请输入11位手机号码</span>
                            </div>
                        </div>
                        <div class="section">
                            <div class="semi-auto semi-left-75">
                                <span class="semi-fixed-left semi-width-75 btn text-left text-grey section-wide">地址</span>
                                <div class="btn-group justified">
                                    <span class="section-wide">
                                        <select class="form-control rectangle block full-width" name="province" ng-model="input.province" ng-options="p as p.provinceName for p in provinces" required></select>
                                    </span>
                                    <span class="section-wide">
                                        <select class="form-control rectangle block full-width" name="city" ng-model="input.city" ng-options="c as c.cityName for c in cities" required></select>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="section">
                            <input type="text" class="form-control block full-width rectangle" name="address" ng-model="input.address" required placeholder="请输入详细街道、小区门牌号等">
                        </div>
                        <div class="section text-center">
                            <label>
                                <input type="checkbox" name="check" ng-model="input.check" style="position:top: 2px;margin-right:5px;">同步更新</label>
                        </div>
                        <div class="section">
                            <button type="submit" class="btn btn-primary block full-width rectangle" ng-disabled="addressForm.$invalid">确认</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
