<!-- by dribehance <dribehance.kksdapp.com> -->
<!-- <div ui-content-for="title">标题</div>
<div ui-content-for="navbarAction">右侧菜单</div>
<div ui-content-for="backAction">
	<span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div> -->
<div class="scrollable">
	<div class="scrollable-content">
		<div class="section text-very-big">结算</div>
		<div class="section text-large">收货人</div>
		<div class="section">
			<p>黄晓明</p>
			<p>广东省 深圳市 罗湖区 京基100 68楼</p>
			<a class="btn section-wide">修改</a>
		</div>
		<div class="section text-large">发货单</div>
		<div class="section">
			<div class="btn-group justified">
				<span class="btn section-wide text-ellipsis">
					希尔顿南海酒店大床房
				</span>
				<span class="btn section-wide text-ellipsis">
					1268.00
				</span>
				<span class="btn section-wide text-ellipsis">X1 <i class="bega">奖</i></span>
				<span class="btn">有货</span>
			</div>
			<div class="btn-group justified">
				<span class="btn section-wide text-ellipsis">
					希尔顿南海酒店大床房
				</span>
				<span class="btn section-wide text-ellipsis">
					1268.00
				</span>
				<span class="btn section-wide text-ellipsis">X1 <i class="bega">奖</i></span>
				<span class="btn">有货</span>
			</div>
		</div>
		<div class="vv-divide vv-1"></div>
		<div class="section clearfix">
			<div class="pull-left">2件商品,e圆总额：1268.00</div>
			<div class="pull-right">账户e圆总额：3123.20</div>
		</div>
		<div class="section clearfix section-condensed">
			<div class="pull-left">应付e圆总额：<span class="text-large text-orange">1268.00</span></div>
			<a class="pull-right">e圆不足?去投资获得更多e圆</a>
		</div>
		<div class="section" style="padding-top:50px">
			<div class="row">
				<div class="col-xs-3 text-ellipsis"><span class="btn section-wide">交易密码</span></div>
				<div class="col-xs-5 section-wide">
					<input type="text" class="form-control rectangle" placeholder="请输入交易密码">
				</div>
				<div class="col-xs-3">
					<button class="btn btn-warning rectangle">提交支付</button>
				</div>
			</div>
		</div>
	</div>
</div>