<!-- by dribehance <dribehance.kksdapp.com> -->
<!-- <div ui-content-for="title">标题</div>
<div ui-content-for="navbarAction">右侧菜单</div>
<div ui-content-for="backAction">
	<span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div> -->
<div class="scrollable">
	<div class="scrollable-content">
		<div class="btn-group justified">
			<span class="btn btn-primary rectangle text-ellipsis">
				<p>佣金总收益(元)</p>
				235,622.00
			</span>
			<span class="btn btn-primary rectangle text-ellipsis">
				<p>一级人脉(位)</p>
				600
			</span>
			<span class="btn btn-primary rectangle text-ellipsis">
				<p>二级人脉(位)</p>
				5000
			</span>
		</div>
		<div class="section">
			<div class="row text-center">
				<div class="col-xs-4 text-ellipsis">
					姓名
				</div>
				<div class="col-xs-4 text-ellipsis">
					投资金额
				</div>
				<div class="col-xs-4 text-ellipsis">
					佣金
				</div>
			</div>
		</div>
		<div class="section">
			<div class="row text-center">
				<div class="col-xs-4 text-ellipsis">
					aaa
				</div>
				<div class="col-xs-4 text-ellipsis">
					1,000.00
				</div>
				<div class="col-xs-4 text-ellipsis text-orange">
					100.00
				</div>
			</div>
		</div>
	</div>
</div>