<!-- by dribehance <dribehance.kksdapp.com> -->
<!-- <div ui-content-for="title">标题</div>
<div ui-content-for="navbarAction">右侧菜单</div>
<div ui-content-for="backAction">
	<span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div> -->
<div class="scrollable">
	<div class="scrollable-content">
		<div class="btn-group justified">
			<span class="btn btn-primary section-wide rectangle text-ellipsis">
				<p>佣金总收益(元)</p>
				{{total_money}}
			</span>
			<span class="btn btn-primary rectangle text-ellipsis" ng-click="getLevel(1)">
				<p>一级人脉(位)</p>
				{{people_level1}}
			</span>
			<span class="btn btn-primary section-wide rectangle text-ellipsis" ng-click="getLevel(2)">
				<p>二级人脉(位)</p>
				{{people_level2}}
			</span>
		</div>
		<div class="section text-right text-orange">
			{{total_income}}
		</div>
		<div class="section">
			<div class="row text-center">
				<div class="col-xs-4 text-ellipsis">
					姓名
				</div>
				<div class="col-xs-4 text-ellipsis">
					投资金额
				</div>
				<div class="col-xs-4 text-ellipsis">
					佣金
				</div>
			</div>
		</div>
		<div class="section" ng-repeat="people in peoples track by $index">
			<div class="row text-center">
				<div class="col-xs-4 text-ellipsis">
					{{people.memberRealName}}
				</div>
				<div class="col-xs-4 text-ellipsis">
					{{people.appliedAmount}}
				</div>
				<div class="col-xs-4 text-ellipsis text-orange">
					{{people.commissionRateTwo}}
				</div>
			</div>
		</div>
		<div class="section text-center" ng-show="peoples.length== 0">暂无人脉数据</div>
	</div>
</div>