<div ui-content-for="backAction">
    <a ng-click="back()" class="btn">返回</a>
</div>
<div ui-content-for="title">
    <span ui-turn-on="filterDropdown">{{exchangeName}}<i class="vv vv-23 vv-dropdown"></i></span>
</div>
<div class="filter-dropdown-hood">
    <ul class="dropdown-menu" ui-outer-click="Ui.turnOff('filterDropdown')" ui-outer-click-if="Ui.active('filterDropdown')" role="menu" ui-show="filterDropdown" ui-state="filterDropdown" ui-turn-off="filterDropdown">

        <li ng-repeat="(name,exchange) in exchanges track by name" class="section">
            <a ng-href="#/licai/{{exchange.productCode}}" class="section">{{exchange.name}}</a>
        </li>
    </ul>
</div>
<div ui-content-for="navbarAction">
    <a ng-click="reload()" class="btn">刷新</a>
</div>
<div class="scrollable">
    <div class="scrollable-content" ui-scroll-bottom="loadMore()">
        <div class="group">
            <div class="group-items">
                <a ng-href="#/products/{{product.id}}" class="block section group-item tag-{{product.tag}}" ng-repeat="product in products">
                    <div class="semi-auto semi-right-50">
                        <h3 class="text-ellipsis text-black normal">{{product.title}}</h3>
                        <span class="semi-fixed-right semi-width-50">
                            <i class="vv vv-tag vv-46"></i>
                        </span>
                    </div>
                    <div class="section-wide text-grey row">
                        <div class="col-xs-7 nowrap">
                            <span class="tag-state text-very-big">{{ product.percentage | currency:"" }}%</b></span>
                            <sub class="tag-state text-large">
                                <b ng-show="product.addition">{{"+"+product.addition +"%"}}</b>
                                <b ng-show="!product.addition">不加成</b>
                                <i class="vv vv-43 vv-state"></i>
                            </sub>
                        </div>
                        <div class="col-xs-5 text-right text-ellipsis">
                            <div class="text-grey text-right">{{product.feature}}</div>
                            <span class="tag-state">{{product.duration}}</span>天<span class="tag-state">{{product.limit}}</span>元起投
                        </div>
                    </div>
                    <span class="item-state"><i class="vv vv-stamp vv-87"></i></span>
                </a>
            </div>
        </div>
        <!-- push tip -->
        <div class="vv-divide vv-1"></div>
        <div class="push text-center" ui-state="push_state" ui-if="push_state" ui-default="true">
            <span class="block section text-center">{{pushmsg}}</span>
        </div>
    </div>
</div>
