<div ui-content-for="title">
    <span>产品详情</span>
</div>
<div ui-content-for="backAction">
    <a ng-click="back()" class="btn">返回</a>
</div>
<div ui-content-for="navbarAction">
    <span></span>
</div>
<div class="scrollable">
    <div class="scrollable-content product-detail">
        <div class="section text-black text-center">
            <div class="section"></div>
            <span class="h3">红本抵押借款XD12100005</span>
        </div>
        <div class="section">
            <div class="col-xs-6 col-condensed nowrap">
                <div class="h4">预期年化收益</div>
                <span class="text-orange text-very-big"><b>5.00%</b></span>
                <sub class="text-orange text-large">
                    <b>1%</b>
                    <i class="vv vv-43 vv-discount-orange"></i>
                </sub>
            </div>
            <div class="col-xs-6">
                <div class="semi-auto semi-left-75 text-ellipsis" style="margin-top: 24px;line-height: 45px;">
                    <span class="semi-fixed-left semi-width-75 text-grey">项目期限：</span>
                    <div class="text-black text-right">60 <span class="text-grey"></span>
                    </div>
                </div>
                <div class="semi-auto semi-left-75 text-ellipsis">
                    <span class="semi-fixed-left semi-width-75 text-grey">投资进度：</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-group justified">
                            <span>
                                <i class="vv vv-18 vv-bank"></i>
                                担保
                            </span>
                            <span>
                                <i class="vv vv-18 vv-worried"></i>
                                周期短
                            </span>
                            <span>
                                <i class="vv vv-18 vv-you"></i>
                                收益稳定
                            </span>
                            <span>
                                <i class="vv vv-18 vv-authen"></i>
                                安全性高
                            </span>
                        </div>
        </div>
        <div class="vv-divide"></div>
		<div class="btn-group justified bg-white">
            <div class="btn section text-center">
                <span class="text-grey">总资产（元）</span>
                <div class="text-orange text-large text-ellipsis">164,000.48</div>

            </div>
            <div class="btn section text-center">
                <span class="text-grey">冻结金额（元）</span>
                <div class="text-orange text-large text-ellipsis">4000.60</div>
            </div>
        </div>
        <div class="vv-divide"></div>
        <div class="text-grey section"><i class="vv vv-18 vv-faqiren" style="margin-right:5px"></i>发起人：深圳白海龙股份有限公司</div>
        <div class="text-grey section"><i class="vv vv-18 vv-dealer" style="margin-right:5px"></i>承销商：中国平安保险股份有限公司</div>
        <div class="text-grey section"><i class="vv vv-18 vv-house" style="margin-right:5px"></i>交易所：深圳白海龙股份有限公司</div>
        <div class="text-grey section"><i class="vv vv-18 vv-agency" style="margin-right:5px"></i>担保机构：中国平安保险股份有限公司v</div>
        <div class="vv-divide"></div>
        <div class="section section-wide">
            <a ng-href="#/products-content/1" class="block text-grey semi-auto semi-right-50">
                <span class="btn">项目详情</span>
                <span class="semi-fixed-right semi-width-50 text-center">
        		<i class="vv vv-arrow-right vv-35"></i>
        	</span>
            </a>
        </div>
        <div class="vv-divide"></div>
        <div class="section section-wide">
            <a ng-href="#/products-files/1" class="block text-grey semi-auto semi-right-50">
                <span class="btn">相关文件</span>
                <span class="semi-fixed-right semi-width-50 text-center">
        		<i class="vv vv-arrow-right vv-35"></i>
        	</span>
            </a>
        </div>
        <div class="vv-divide vv-5"></div><div class="vv-divide vv-5"></div>
        <p class="text-grey text-center"><i class="vv vv-18 vv-bank"></i>VVBank所有资金均由财付通交易</p>
    </div>
    <div class="scrollable-footer">
    	<a href="" class="block btn btn-lg full-width btn-warning rectangle">购买</a>
    </div>
</div>
