<div ui-content-for="title">
    <span>优选项目 快乐投资</span>
</div>
<div ui-content-for="backAction">
    <a ng-click="back()" class="btn">
        <!-- <i class="vv vv-35 vv-back-1"></i> -->
        返回
    </a>
</div>
<div ui-content-for="navbarAction">
    <span></span>
</div>
<div class="scrollable">
    <div class="scrollable-content product-detail">
        <div class="vv-divide vv-5"></div>
        <div class="section text-black" style="padding-bottom:0">
            <span class="normal text-black text-large"><b>{{ product.title || "..."}}</b></span>
        </div>
        <div class="section">
            <div class="section bg-white-grey">
                <div class="btn-group justified">
                    <div class="">
                        <div style="margin-bottom:5px">借款金额</div>
                        <div class="text-ellipsis">
                            <span class="text-big">{{parseUnit(product.total)}}</span>
                            <span class="text-small">万</span>
                        </div>
                    </div>
                    <div class="">
                        <div style="margin-bottom:5px">年化收益率</div>
                        <div class="text-ellipsis text-primary">
                            <span class="text-big">{{ product.percentage | currency:"" }}</span>
                            <span class="text-small" ng-show="product.addition != 0">%{{"+"+product.addition +"%"}}</span>
                        </div>
                    </div>
                    <div class="">
                        <div style="margin-bottom:5px">投资期限</div>
                        <div class="text-ellipsis">
                            <span class="text-big">{{ product.duration }}</span>
                            <span class="text-small">{{ product.unit }}</span>
                        </div>
                    </div>
                </div>
                <div class="vv-divide vv-5"></div>
                <div class="semi-auto semi-left-60 semi-right-60">
                    <span class="semi-fixed-left semi-width-60">当前进度：</span>
                    <div class="progress rectangle">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ product.progress+'%' }};">
                            <span class="sr-only">{{ product.progress | currency:"" }}Complete</span>
                        </div>
                    </div>
                    <span class="semi-fixed-right semi-width-60 text-center gothambook">{{ product.progress | currency:"" }}%</span>
                </div>
                <div class="vv-divide vv-5"></div>
                <i class="vv vv-18 vv-clock"></i>
                <span style="vertical-align:middle">
                    剩余时间
                    <timer end-time="product.endtime">{{days}}天{{hhours}}小时{{mminutes}}分钟{{sseconds}}秒</timer>
                </span>
            </div>
        </div>
        <div class="vv-divide vv-1 bg-light-grey"></div>
        <div class="text-grey section section-sm">起投金额：{{ product.limit }}</div>
        <div class="text-grey section section-sm">还款方式：{{ product.feature }}</div>
        <div class="text-grey section section-sm">起息时间：{{ parseTime(product.endtime) |date:"yyyy-MM-dd" }}</div>
        <div class="text-grey section section-sm">已投笔数：{{ product.transaction }}</div>
        <div class="text-grey section section-sm">已募金额：{{ product.total|currency:"" }}元</div>
        <div class="section">
            <div class="text-white" ng-if="product.progress < 100">
                <a href="#/buy/{{product.code}}/{{ product.id }}/{{product.remain}}" class="block btn btn-lg full-width btn-warning">立即认购</a>
            </div>
            <div ng-if="product.progress == 100">
                <div class="section btn btn-lg text-center full-width text-white bg-grey">已募满</div>
            </div>
        </div>
        <div class="vv-divide vv-5"></div>
        <!-- 项目详情 -->
        <div ng-show="product.detail" class="section">
            <h4>项目详情</h4>
            <div ng-bind-html="trustAsHtml(product.detail)"></div>
        </div>
        <!-- <div class="vv-divide vv-5"></div>
        <div class="vv-divide vv-5"></div>
        <p class="text-grey text-center"><i class="vv vv-18 vv-bank" style="margin-right:5px"></i>VVBank所有资金均由财付通交易</p> -->
    </div>
    <!-- <div class="scrollable-footer">
        <div ng-show="product.tag == 0">
            <a href="#/buy/{{ product.id }}/{{product.remain}}" class="block btn btn-lg full-width btn-warning rectangle">购买</a>
        </div>
        <div ng-show="product.tag !=0">
            <div class="section btn btn-lg text-center full-width text-white bg-grey rectangle">购买</div>
        </div>
    </div> -->
</div>
