<!-- by dribehance <dribehance.kksdapp.com> -->
<!-- <div ui-content-for="title">标题</div>
<div ui-content-for="navbarAction">右侧菜单</div>
<div ui-content-for="backAction">
	<span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div> -->
<div class="scrollable">
    <div class="scrollable-content">
        <div class="section text-center">
            <qrcode data="{{qrcode_url}}" version="10" size="274"></qrcode>
            <!-- <span>{{qrcode_url}}</span> -->
        </div>
        <div class="section">扫描上方的二维码注册优易投，您将成为经纪人，当您推荐的用户投资 后，您将获得佣金收益。
        </div>
        <!-- <div class="section text-center">
        	<img ng-src="../images/qrcode_example.png" alt="">
        </div> -->
    </div>
</div>
