<!-- by dribehance <dribehance.kksdapp.com> -->
<!-- <div ui-content-for="title">标题</div>
<div ui-content-for="navbarAction">右侧菜单</div>
<div ui-content-for="backAction">
	<span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div> -->
<div class="scrollable">
	<div class="scrollable-content">
		<div class="section text-very-large text-center">希尔顿南海店</div>
		<div class="section section-condensed text-center">请输入商品序列号:</div>
		<div class="section">
			<input type="text" class="form-control rectangle">
		</div>
		<div class="section text-center">
			<button class="btn btn-primary btn-lg full-width rectangle">查询</button>
		</div>
	</div>
</div>