<!-- by dribehance <dribehance.kksdapp.com> -->
<!-- <div ui-content-for="title">标题</div>
<div ui-content-for="navbarAction">右侧菜单</div>
<div ui-content-for="backAction">
	<span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div> -->
<div class="scrollable">
    <div class="scrollable-content">
        <div class="shopping-cart">
            <div class="cart-item">
                <div class="item-status active"></div>
                <div class="item-thumbnail">
                    <img ng-src="../images/example_3.png" alt="">
                </div>
                <div class="item-title text-ellipsis">
                    保利影院电影2D电影兑换券1张
                </div>
                <div class="item-info">
                    e圆：<span class="text-orange">1268.0</span><i class="bega">奖</i>
                </div>
                <div class="item-info">
                    数量：
                    <span class="item-control">
						<span class="item-minus control-handle">-</span>
                    <span class="item-count">0</span>
                    <span class="item-plus control-handle">+</span>
                    </span>
                </div>
            </div>
            <div class="cart-item">
                <div class="item-status"></div>
                <div class="item-thumbnail">
                    <img ng-src="../images/example_3.png" alt="">
                </div>
                <div class="item-title text-ellipsis">
                    保利影院电影2D电影兑换券1张
                </div>
                <div class="item-info">
                    e圆：<span class="text-orange">1268.0</span><i class="bega">奖</i>
                </div>
                <div class="item-info">
                    数量：
                    <span class="item-control">
						<span class="item-minus control-handle">-</span>
                    <span class="item-count">0</span>
                    <span class="item-plus control-handle">+</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="section clearfix">
            <div class="pull-left">
                <input type="checkbox" name="check_all" style="vertical-align:middle;margin:0">[移除选中商品]
            </div>
            <div class="pull-right">
                已选择<span class="text-orange">1</span>商品
            </div>
        </div>
        <div class="section">
            <div class="btn-group justified">
                <span>总价：<span class="text-orange">1268.0</span></span>
                <span><a ng-href="#/eyuan_mall/payment" class="btn btn-warning rectangle btn-lg full-width">去结算</a></span>
            </div>
        </div>
    </div>
</div>
