<!-- by dribehance <dribehance.kksdapp.com> -->
<!-- <div ui-content-for="title">标题</div>
<div ui-content-for="navbarAction">右侧菜单</div>
<div ui-content-for="backAction">
	<span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div> -->
<div class="scrollable">
    <div class="scrollable-content">
        <div class="shopping-cart">
            <div class="cart-item" ng-repeat="item in items">
                <div class="item-status" ng-show="{{item.goodStatus != '-1'}}" ng-class="{'active':item.checked}" ng-click="toggle(item)"></div>
                <div class="item-off" ng-show="{{item.goodStatus == '-1'}}">下架</div>
                <div class="item-thumbnail">
                    <imageview data-rate="1" src="item.logo" class="bg-light-grey"></imageview>
                </div>
                <div class="item-title text-ellipsis">
                    {{item.goodsName}}
                </div>
                <div class="item-info">
                    e圆：<span class="text-orange">{{calculate_price(item) | currency:""}}</span><i class="bega" ng-show="item.status == 1">奖</i>
                </div>
                <div class="item-info">
                    数量：
                    <span class="item-control">
						<span class="item-minus control-handle" ng-click="minus(item)">-</span>
                    <span class="item-count">{{item.carNumber}}</span>
                    <span class="item-plus control-handle" ng-click="plus(item)">+</span>
                    </span>
                </div>
            </div>
            <div class="section text-center" ng-show="items.length == 0">购物车空空如也！</div>
        </div>
        <div class="section clearfix" ng-show="items.length > 0">
            <label>
                <input type="checkbox" name="check_all" ng-model="input.all" class="needsclick" style="vertical-align:middle;margin:0">
            </label>
            <span ng-click="remove()">[移除选中商品]</span>
            <div class="pull-right">
                已选择<span class="text-orange">{{selected_items()}}</span>商品
            </div>
        </div>
        <div class="section" ng-show="items.length > 0">
            <div class="btn-group justified">
                <span>总价：<span class="text-orange">{{sum() | currency:"" }}e圆</span></span>
                <span class="text-white">
                    <button class="btn  rectangle btn-lg full-width" ng-class="{'bg-grey':selected_items() == 0,'btn-warning':selected_items()>0}" ng-click="pay()" ng-disabled="selected_items()==0">去结算</button>
                </span>
            </div>
        </div>
    </div>
</div>
