.block {
	display: block;
}
.full-width {
	width: 100%;
}
// text color
.text-white {
	color: @white;
}
.text-black {
	color: @black;
}
.text-grey {
	color: @grey;
}
.text-primary {
	color: @blue;
}
.text-orange {
	color: @orange;
}
.text-success {
	color: @green;
}
// text size
.text-very-large {
	font-size: 60px;
}
.text-very-big {
	font-size: 40px;
}
.text-large {
	font-size: 26px;
}
.clearfixed {
	&:before,&:after {
		display: table;
	}
	&:after {
		clear: both;
	}
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
// layout
// one fix whie the other auto
.semi-auto {
	display: block;
	position: relative;
	&.semi-left-40 {
		padding-left: 40px;
	}
	&.semi-right-50 {
		padding-right: 50px;
	}
	&.semi-left-50 {
		padding-left: 50px;
	}
	&.semi-left-60 {
		padding-left: 60px;
	}
	&.semi-right-60 {
		padding-right: 60px;
	}
	&.semi-left-75 {
		padding-left: 75px;
	}
	&.semi-right-75 {
		padding-right: 75px;
	}
	&.semi-left-98 {
		padding-left: 98px;
	}
	&.semi-right-150 {
		padding-right: 150px;
	}
	&.semi-left-150 {
		padding-left: 150px;
	}
	.semi-fixed-left {
		display: block;	
		position: absolute;
		left: 0;
		top: 0;
	}
	.semi-fixed-right {
		display: block;	
		position: absolute;
		right: 0;
		top: 0;
	}
	.semi-width-50 {
		width: 50px;
	}
	.semi-width-60 {
		width: 60px;
	}
	.semi-width-75 {
		width: 75px;
	}
	.semi-width-98 {
		width:98px;
	}
	.semi-width-150 {
		width: 135px;
		margin-left: 10px;
	}
}
// handle bootstrap grid
.col-condensed {
	padding-left: 0;
	padding-right:0;
}
// no radius 
.rectangle {
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
}
.border-radius-large {
	-webkit-border-radius: 4px !important;
	border-radius: 4px !important;
}
// globle less
.error-msg {
	position: absolute;
	top: 51px;
	left: 0;
	right: 0;
	opacity: 0.8;
	z-index: 100;
}
.bg-primary {
	background-color: @blue;
}
.bg-light-blue {
	background-color: @lightBlue;
}
.bg-grey {
	background-color: @darkGrey;
}
.bg-dark-blue {
	background-color: @darkBlue;
}
.bg-white {
	background-color: @white;
}
.bg-orange {
	background-color: @orange;
}
.bg-green {
	background-color: @green;
}
.bg-light-green {
	background-color: @lightGreen;
}
.vv-divide {
	display: block;
	height: 1px;
	&.vv-5 {
		height: 5px;
	}
	&.vv-15 {
		height: 15px;
	}
}
.flow-btn {
	margin:auto auto;
	width: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	max-height: 179px;
}
.nowrap {
	white-space: nowrap;
}