.banner {
    min-height: 103px;
    display: block;
    overflow: hidden;
}

// bottom navgation
.vv {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    &.vv-9 {
        width: 9px;
        height: 22px;
    }
    &.vv-18 {
        background-size: 80%;
        width: 18px;
        height: 18px;
    }
    &.vv-20 {
        background-size: 100%;
        width: 20px;
        height: 20px;
    }
    &.vv-22 {
        height: 22px;
        width: 22px;
    }
    &.vv-23 {
        height: 23px;
        width: 18px;
    }
    &.vv-27 {
        width: 27px;
        height: 27px;
    }
    &.vv-35 {
        background-size: 80%;
        width: 35px;
        height: 35px;
    }
    &.vv-33 {
        background-size: 80%;
        width: 33px;
        height: 33px;
    }
    &.vv-38 {
        width: 38px;
        height: 38px;
    }
    &.vv-40 {
        background-size: 70%;
        width: 40px;
        height: 40px;
    }
    &.vv-43 {
        background-size: 80%;
        width: 43px;
        height: 24px;
    }
    &.vv-46 {
        background-size: 80%;
        width: 46px;
        height: 27px;
    }
    &.vv-87 {
        width: 87px;
        height: 56px;
    }
    &.vv-index {
        background-image: url("../images/home_normal.png");
    }
    &.vv-licai {
        background-image: url("../images/licai_normal.png");
    }
    &.vv-eyuan {
        background-image: url("../images/eyuan_normal.png");
    }
    &.vv-me {
        background-image: url("../images/me_normal.png");
    }
    &.vv-me-top {
        background-image: url("../images/me_press.png");
    }
    &.vv-100 {
        // vv-guard
        background-image: url("../images/guard.png");
    }
    &.vv-101 {
        // vv-clock
        background-image: url("../images/clock.png");
    }
    &.vv-clock {
        background-image: url("../images/clock_1.png");
    }
    &.vv-102 {
        // vv-money
        background-image: url("../images/money.png");
    }
    &.vv-103 {
        // vv-safety
        background-image: url("../images/safety.png");
    }
    &.vv-user {
        background-image: url("../images/user.png");
    }
    &.vv-smscode {
        background-image: url("../images/smscode.png");
    }
    &.vv-verifycode {
        background-size: initial;
        background-image: url("../images/icon.png");
        background-position: -52px -202px;
    }
    &.vv-password {
        background-image: url("../images/password.png");
    }
    &.vv-password-old {
        background-image: url("../images/password_old.png");
    }
    &.vv-password-new {
        background-image: url("../images/password_new.png");
    }
    &.vv-password-again {
        background-image: url("../images/password_again.png");
    }
    &.vv-phone {
        background-image: url("../images/phone.png");
    }
    &.vv-search {
        background-image: url("../images/search.png");
    }
    &.vv-dropdown {
        background-image: url("../images/dropdown.png");
        background-position: 0 -3px;
    }
    &.vv-hot {
        background-image: url("../images/hot.png");
    }
    &.vv-all {
        background-image: url("../images/all.png");
    }
    &.vv-finish {
        background-image: url("../images/finish.png");
    }
    &.vv-discount-blue {
        background-image: url("../images/discount_blue.png");
    }
    &.vv-discount-orange {
        background-image: url("../images/discount_orange.png");
    }
    &.vv-discount-grey {
        background-image: url("../images/discount_grey.png");
    }
    &.vv-has-all {
        background-image: url("../images/has-all.png");
    }
    &.vv-has-finish {
        background-image: url("../images/has-finish.png");
    }
    &.vv-setting {
        background-size: 70%;
        background-image: url("../images/setting.png");
    }
    &.vv-qrcode {
        background-size: 100%;
        background-image: url("../images/qrcode_icon.png");
    }
    &.vv-back {
        background-size: 70%;
        background-image: url("../images/back.png");
    }
    &.vv-back-1 {
        background-size: 70%;
        background-image: url("../images/back_1.png");
    }
    &.vv-investment {
        background-image: url("../images/investment.png");
    }
    &.vv-bill {
        background-image: url("../images/bill.png");
    }
    &.vv-activity {
        background-image: url("../images/activity.png");
    }
    &.vv-e {
        background-image: url("../images/e.png");
    }
    &.vv-pocket {
        background-image: url("../images/pocket.png");
    }
    &.vv-message {
        background-image: url("../images/message.png");
    }
    &.vv-arrow-right {
        background-size: 60%;
        background-image: url("../images/arrow-right.png");
    }
    &.vv-account-setting {
        background-image: url("../images/account_setting.png");
    }
    &.vv-safety-setting {
        background-image: url("../images/safety_setting.png");
    }
    &.vv-card {
        background-image: url("../images/card.png");
    }
    &.vv-users {
        background-image: url("../images/users.png");
    }
    &.vv-question {
        background-image: url("../images/question.png");
    }
    &.vv-about {
        background-image: url("../images/about.png");
    }
    &.vv-text-success {
        background-size: 80%;
        background-image: url("../images/text_success.png");
    }
    &.vv-phone-authen {
        background-image: url("../images/phone_authen_normal.png");
    }
    &.vv-phone-authen.active {
        background-image: url("../images/phone_authen_active.png");
    }
    &.vv-name-authen {
        background-image: url("../images/name_authen_normal.png");
    }
    &.vv-name-authen.active {
        background-image: url("../images/name_authen_active.png");
    }
    &.vv-password-1 {
        background-image: url("../images/password_1_normal.png");
    }
    &.vv-password-1.active {
        background-image: url("../images/password_1_active.png");
    }
    &.vv-password-2 {
        background-image: url("../images/password_2_normal.png");
    }
    &.vv-password-2.active {
        background-image: url("../images/password_2_active.png");
    }
    &.vv-bank {
        background-image: url("../images/bank.png");
    }
    &.vv-worried {
        background-image: url("../images/worried.png");
    }
    &.vv-you {
        background-image: url("../images/you.png");
    }
    &.vv-authen {
        background-image: url("../images/authen.png");
    }
    &.vv-faqiren {
        background-image: url("../images/faqiren.png");
    }
    &.vv-dealer {
        background-image: url("../images/dealer.png");
    }
    &.vv-house {
        background-image: url("../images/house.png");
    }
    &.vv-agency {
        background-image: url("../images/agency.png");
    }
    &.vv-vvbank {
        background-image: url("../images/vv_bank.png");
    }
    &.vv-shopping-cart {
        background-image: url("../images/shopping_cart.png");
    }
    &.vv-me-1 {
        background-image: url("../images/me_1.png");
    }
    &.vv-me-2 {
        background-image: url("../images/me_2.png");
    }
    &.vv-me-3 {
        background-image: url("../images/me_3.png");
    }
    &.vv-me-4 {
        background-image: url("../images/me_4.png");
    }
    &.vv-me-5 {
        background-image: url("../images/me_5.png");
    }
    &.vv-me-6 {
        background-image: url("../images/me_6.png");
    }
    &.vv-me-7 {
        background-image: url("../images/me_7.png");
    }
    &.vv-me-8 {
        background-image: url("../images/me_8.png");
    }
    &.vv-me-9 {
        background-image: url("../images/me_9.png");
    }
    &.vv-me-10 {
        background-image: url("../images/me_10.png");
    }
    &.vv-me-11 {
        background-image: url("../images/me_11.png");
    }
    &.vv-me-12 {
        background-image: url("../images/me_12.png");
    }
    &.vv-me-13 {
        background-image: url("../images/me_13.png");
    }

}

a.active .vv.vv-index {
    background-image: url("../images/home_active.png");
}

a.active .vv.vv-licai {
    background-image: url("../images/licai_active.png");
}

a.active .vv.vv-eyuan {
    background-image: url("../images/eyuan_active.png");
}

a.active .vv.vv-me {
    background-image: url("../images/me_active.png");
}

a.active .vv.vv-shopping-cart {
    background-image: url("../images/shopping_cart_active.png");
}
.navbar-absolute-bottom .btn-navbar {
    padding-top: 3px;
    line-height: 18px;
    color: @grey;
}

.navbar-absolute-bottom .btn-navbar.active {
    color: @blue;
}
// .navbar-absolute-top .btn {
//     padding-right: 0;
// }
// .navbar-absolute-top a.active .tag {
//     position: relative;
//     padding: 5px;
//     color: #007cd2;
//     background-color: white;
//     border-radius: 3px;
//     .triangle {
//         position: absolute;
//         bottom: -10px;
//         left: 50%;
//         margin-left: -4px;
//         border-top: 5px solid white;
//         border-left: 5px solid transparent;
//         border-right: 5px solid transparent;
//         border-bottom: 5px solid transparent;
//     }
// }

.vv-tel {
    display: inline-block;
    width: 68px;
    height: 33px;
    vertical-align: middle;
    background-image: url("../images/tel.png");
    background-repeat: no-repeat;
    background-position: center center;
}

// card carousel
.cards-carousel {
    display: block;
    background-color: white;
    margin: 10px;
    width: auto;
    .owl-controls {
        margin-top: 0;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
    }
}

// sigin
.nav-logo {
    display: inline-block;
    width: 160px;
    height: 37px;
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
    margin: auto;
}

.filter-dropdown-hood {
    position: relative;
    left: 50%;
    margin-left: -103px;
}

.pie-chart-bg {
    position: absolute;
    height: 52px;
    width: 52px;
    background-image: url(../images/circle.png);
    top: 4px;
    left: 4px;
    background-size: 74%;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
}
