body {
    font-size: 12px !important;
}
a:active, a:focus, button:active, button:focus {
    outline: none !important;
    text-decoration: none !important;
}
.normal {
    line-height: normal;
    font-weight: 100;
}
b, optgroup, strong {
    font-weight: 400 !important;
}
