body {
    font-family: Gothambook, "微软雅黑";
    font-size: 12px !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Gothambook, "微软雅黑";
}

a:active,
a:focus,
button:active,
button:focus {
    outline: none !important;
    text-decoration: none !important;
}

a:visited {
    color: inherit;
    // color: initial;
}

.btn {
    // font-size: 12px !important;
}

.normal {
    line-height: normal;
    font-weight: 100;
}

b,
optgroup,
strong {
    font-weight: 400 !important;
}

.section-sm {
    padding-top: 5px;
    padding-bottom: 5px;
}

.progress {
    height: 15px;
}

.navbar-app {
    background-color: white;
}

.app {
    background-color: @lightGrey;
}

.btn-group.justified.strip {
    >*:not(: first-child) {
        border-left: 1px solid @black;
    }
}
