.group {
	h3 {
		margin-bottom: 0;
	}
	b {
		font-weight: 400;
	}
	.group-header {
		background-color: @lightGrey;
		color: @grey;
	}
	.group-item {
		position: relative;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.row {
		position: relative;
	}
	.item-state {
		display: block;
		position: absolute;
		right: 40px;
		top: 40px;
	}
	sub {
		position: relative;
		display: inline-block;
		width: 43px;
		text-align: center;
		i {
			position: absolute;
			left: 0;
			right: 0;
			top: -27px;
			margin: auto auto;
		}
	}
	.tag-1 {
		.tag-state {
			color: @orange;
		}
		.vv-state {
			background-image: url("../images/discount_orange.png");
		}
		.vv-tag {
			background-image: url("../images/hot.png");
		}
		.vv-stamp {
			background-image: none;
		}
	}
	.tag-2 {
		.tag-state {
			color: @blue;
		}
		.vv-state {
			background-image: url("../images/discount_blue.png");
		}
		.vv-tag {
			background-image: url("../images/all.png");
		}
		.vv-stamp {
			background-image: url("../images/has-all.png")
		}
	}
	.tag-3 {
		.tag-state {
			color: @grey;
		}
		.vv-state {
			background-image: url("../images/discount_grey.png");
		}
		.vv-tag {
			background-image: url("../images/finish.png");
		}
		.vv-stamp {
			background-image: url("../images/has-finish.png")
		}
	}
}
.product-detail {
	b {
		font-weight: 400;
	}
	sub {
		position: relative;
		display: inline-block;
		width: 43px;
		text-align: center;
		i {
			position: absolute;
			left: 0;
			right: 0;
			top: -27px;
			margin: auto auto;
		}
	}
}