@white: #ffffff;
@black: #000000;
@whiteGrey:#f8f8f8;
@lightGrey: #e4e4e4;
@grey:#afafaf;
@darkGrey: #787878;
@orange:#ff7700;
@blue:#007cd2;
@lightBlue:#2381c4;
@darkBlue:#256caa;
@green:#20c05c;
@lightGreen:#01a2a1;