<div ui-content-for="title">
    <span>资金账户</span>
</div>
<div ui-content-for="backAction">
    <a ng-click="back()" class="btn">返回</a>
</div>
<div ui-content-for="navbarAction">
    <span></span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
		<div class="btn-group justified">
			<span>
				<p>总资产(元)</p>
				200,000.00
			</span>
			<span>
				<p>总收益(元)</p>
				20,000.00
			</span>
		</div>
		<div>
    		<div class="btn-group justified">
    			<span>
    				<p>可用余额(元)</p>
    			</span>
    			<span>
    				<p>待收本金(元)</p>
    			</span>
       	 	</div>
        	<div class="btn-group justified">
        		<span>
        			<p>冻结金额(元)</p>
        		</span>
        		<span>
        			<p>待收收益(元)</p>
        		</span>
        	</div>
    	</div>    	
    	<div class="btn-group justified">
    		<span><p>e圆总额(e圆)</p></span>
        	<span><p>红包总额(元)</p></span>
    	</div>
    	<div class="btn-group justified">
    		<span><p>新人尊享金</p></span>
    		<span><p>可用余额(元)</p></span>
    	    <span><p>冻结金额(元)</p></span>
   		</div>
	</div>
</div>
