<div ui-content-for="title">
    <span>资金明细</span>
</div>
<div ui-content-for="backAction">
    <a ng-click="back()" class="btn">返回</a>
</div>
<div ui-content-for="navbarAction">
    <span></span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group" style="margin-bottom:0" ng-repeat="(key,value) in bills">
            <div class="list-group-header section bg-white-grey">{{key}}</div>
            <div class="list-group-item" ng-repeat="bill in value">
                <i class="vv vv-27 vv-me-888 pull-left" style="margin-right:8px" ng-if="(bill.type == 'RECHARGING' || bill.type == 'TRANSFER_IN' || bill.type == 'UNFREEZING')"></i>
                <i class="vv vv-27 vv-me-999 pull-left" style="margin-right:8px" ng-if="(bill.type == 'WITHDRAWAL' || bill.type == 'TRANSFER_OUT' || bill.type == 'FREEZING')"></i>
                <i class="vv vv-27 pull-left" style="margin-right:8px" ng-if="!(bill.type == 'WITHDRAWAL' || bill.type == 'TRANSFER_OUT' || bill.type == 'FREEZING' || bill.type == 'RECHARGING' || bill.type == 'TRANSFER_IN' || bill.type == 'UNFREEZING')"></i>
                <div class="item-right">
                    <div class="clearfixed">
                        <b>{{bill.fundType}}</b>
                        <span class="pull-right"><span ng-if="bill.type == 'UNFREEZING' || bill.type == 'RECHARGING' || bill.type == 'TRANSFER_IN' || bill.type=='TRANSFER_LOTTERY_IN' || bill.type=='SHARE_LOTTERY_IN'">+</span><span ng-if="bill.type == 'WITHDRAWAL' || bill.type == 'TRANSFER_OUT' || bill.type == 'FREEZING' || bill.type == 'TRANSFER_LOTTERY_OUT' ">-</span>{{bill.tradeAmount |currency:""}}
                            <span ng-if="bill.status ==1">次</span>
                            <span ng-if="bill.status !=1">元</span>
                        </span>
                    </div>
                    <div class="clearfixed">
                        {{parseTime(bill.time)}} 
                        <span class="pull-right text-orange">{{bill.amount|currency:""}}<span ng-if="bill.status == 1">次</span><span ng-if="bill.status != 1">元</span>
                        </span>
                    </div>
                    <!-- push tip -->
                    <!-- <div class="push" ui-state="push_state" ui-if="push_state" ui-default="true">
                        <span class="text-center">{{pushmsg}}</span>
                    </div> -->
                    <!-- <div class="section text-center" ng-click="loadMore()">
                        {{page.message}}
                    </div> -->
                </div>
            </div>
        </div>
        <div class="section text-center" ng-if="no_record">暂无明细</div>
    </div>
</div>
