<div ui-content-for="title">
    <span>资金明细</span>
</div>
<div ui-content-for="backAction">
    <a ng-click="back()" class="btn">返回</a>
</div>
<div ui-content-for="navbarAction">
    <span></span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="vv-divide vv-5"></div>
        <div class="section">
            <div class="vv-table">
                <div class="vv-table-header">
                    <div class="btn-group justified text-center">
                        <span class="text-ellipsis">时间 </span>
                        <span class="text-ellipsis">类别</span>
                        <span class="text-ellipsis">收入（元） </span>
                        <span class="text-ellipsis">支出（元） </span>
                    </div>
                </div>
                <div class="vv-table-content">
                	<div class="btn-group justified text-center text-grey">
                        <span class="text-ellipsis">04-13 </span>
                        <span class="text-ellipsis">利息</span>
                        <span class="text-ellipsis">+14,000.00</span>
                        <span class="text-ellipsis">/</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
