<div ui-content-for="title">
    <span>我的投资</span>
</div>
<div ui-content-for="backAction">
    <a ng-click="back()" class="btn">返回</a>
</div>
<div ui-content-for="navbarAction">
    <span></span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group" style="margin-bottom:0" ng-repeat="(key,value) in investments">
            <div class="list-group-header section section bg-white-grey">{{key}}</div>
            <div class="list-group-item investment-record" ng-repeat="investment in value">
                <div class="item-right">
                    <div class="clearfixed">
                        <b>{{investment.productName|limitTo:12}}</b><span class="pull-right text-orange">{{investment.investAmount |currency:""}}元</span>
                    </div>
                    <div class="clearfixed">
                        {{parseTime(investment.investTime)}} <span class="pull-right">预期收益{{investment.interestAmount|currency:""}}元</span>
                    </div>
                </div>
                <div class="status status-{{investment.status}}">{{investment.statusCN|limitTo:4}}</div>
            </div>
        </div>
        <div class="section text-center" ng-if="no_record">暂无记录</div>
    </div>
</div>
