<div ui-content-for="title">
    <span>我的投资</span>
</div>
<div ui-content-for="backAction">
    <a ng-click="back()" class="btn">返回</a>
</div>
<div ui-content-for="navbarAction">
    <span></span>
</div>
<div class="scrollable">
    <div class="scrollable-content" ui-scroll-bottom="loadMore()">
        <div class="section section-condensed">
            <div class="vv-table text-center">
                <div class="vv-table-header">
                    <div class="row" style="line-height:43px">
                        <div class="col-xs-4">
                            <span class="text-ellipsis">项目名称 </span>
                        </div>
                        <div class="col-xs-4">
                            <span class="text-ellipsis">投资金额（元） </span>
                        </div>
                        <div class="col-xs-4">
                            <span class="text-ellipsis">年化利率 </span>
                        </div>
                    </div>
                </div>
                <div class="vv-table-content">
                    <div class="row" style="line-height:43px" ng-repeat="investment in investments">
                        <div class="col-xs-4 text-ellipsis">
                            <span class="text-ellipsis">{{investment.name}} </span>
                        </div>
                        <div class="col-xs-4 text-ellipsis">
                            <span class="text-ellipsis">{{investment.money | currency:"￥"}} </span>
                        </div>
                        <div class="col-xs-4 text-ellipsis">
                            <span class="text-ellipsis">{{investment.rate | currency:""}}% </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
