<div ui-content-for="title">
    <span>实名认证</span>
</div>
<div ui-content-for="backAction">
    <a ng-click="back()" class="btn">返回</a>
</div>
<div ui-content-for="navbarAction">
    <span></span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <imageview src="'../images/banner_2.png'" data-rate="640/387"></imageview>
        <div class="section identify-section" ui-state="authen_step" ui-if="authen_step == '1'">
            <imageview src="'../images/identify.png'" data-rate="510/326"></imageview>
            <div class="identify-status"></div>
            <div class="identify-meta">
                <h3>{{realname}}</h3>
                <span class="text-big">{{realnumber}}</span>
            </div>
        </div>
        <form ng-submit="ajaxForm(this)" name="authForm" ui-if="authen_step == '2'">
            <div class="section">
                <div class="section"></div>
                <div class="section-wide" ng-if="safety_info.signin_password.status != 0">
                    <div class="vv-input-group input-group-lg full-width">
                        <span class="vv-input-group-addon"><i class="vv vv-27 vv-me-663"></i></span>
                        <input type="text" class="form-control border-radius-large" name="realname" ng-model="input.realname" required placeholder="请输入姓名">
                        <span class="vv-input-tip" ng-show="authForm.realname.$dirty && authForm.realname.$invalid">姓名必填</span>
                    </div>
                </div>
                <div class="section-wide">
                    <div class="vv-input-group input-group-lg full-width">
                        <span class="vv-input-group-addon"><i class="vv vv-27 vv-me-664"></i></span>
                        <input type="password" class="form-control border-radius-large" name="identity" ng-model="input.identity" required indentification placeholder="请确认身份证号码">
                        <span class="vv-input-tip" ng-show="authForm.identity.$dirty && authForm.identity.$error.required">身份证号码必填</span>
                        <span class="vv-input-tip" ng-show="authForm.identity.$dirty && authForm.identity.$error.indentification">身份证号码格式不正确</span>
                    </div>
                </div>
            </div>
            <div class="section">
                <button type="submit" class="btn btn-lg btn-primary full-width" ng-disabled="authForm.$invalid">认证</button>
            </div>
            <!-- <div ui-state="authStep" ui-default="1" ui-if="authStep ==1">

                <div class="section">
                    <div class="section"></div>
                    <div class="section-wide">
                        <div class="vv-input-group input-group-lg full-width">
                            <span class="vv-input-group-addon"><i class="vv vv-20 vv-phone"></i></span>
                            <input type="text" class="form-control border-radius-large" name="realname" ng-model="input.realname" required placeholder="真实姓名 请输入真实姓名">
                            <span class="vv-input-tip" ng-show="!authForm.realname.$valid">请确保填入您的真实姓名，真实姓名填写后不可以再修改！</span>
                        </div>
                    </div>
                    <div class="section-wide">
                        <div class="vv-input-group input-group-lg full-width">
                            <span class="vv-input-group-addon"><i class="vv vv-20 vv-phone"></i></span>
                            <input type="text" class="form-control border-radius-large" name="identifyID" ng-model="input.identifyID" required indentification placeholder="身份证号码 请输入身份证号码">
                            <span class="vv-input-tip" ng-show="!authForm.identifyID.$valid">请确保输入的身份证号码上的名字与真实姓名一致</span>
                        </div>
                    </div>
                </div>
                <div class="vv-divide"></div>
                <div class="section">
                    <button type="submit"  class="btn btn-lg btn-primary block full-width rectangle" ng-disabled="!(authForm.realname.$valid && authForm.identifyID.$valid)">提交</button>
                </div>

            </div> -->
            <!-- <div ui-if="authStep == 2">
                <div class="section"></div>
                <div class="section">
                    <h4 class="text-center">完成实名认证，您将安全获得更多收益</h4>
                </div>
                <div class="section text-center">
                    <div flow-init="{singleFile:true,target: '/upload'}" flow-files-submitted="$flow.upload()" flow-file-success="$file.msg = $message">
                        <span needsclick flow-btn class="block full-width flow-btn text-center" flow-attrs="{accept:'image/*'}">
                    <img src="/images/upload_1.png" ng-show="!$flow.files.length" alt="">
                    <img flow-img="$flow.files[0]" ng-show="$flow.files.length" alt="">
                </span>
                    </div>
                </div>
                <div class="section text-center">
                    <div needsclick flow-init="{singleFile:true,target: '/upload'}" flow-files-submitted="$flow.upload()" flow-file-success="$file.msg = $message">
                        <span flow-btn class="block full-width flow-btn text-center" flow-attrs="{accept:'image/*'}">
                    <img src="/images/upload_2.png" ng-show="!$flow.files.length" alt="">
                    <img flow-img="$flow.files[0]" alt="">
                </span>
                    </div>
                </div>
                <div class="section">
                    <button type="submit" class="btn btn-lg btn-primary block full-width rectangle">
                        提交审核
                    </button>
                </div>
                <div class="section text-grey text-center text-small">
                    我们将在1-2个工作日内完成信息审核
                </div>


            </div> -->
        </form>
    </div>
</div>
