<div ui-content-for="title">
    <span>我的红包</span>
</div>
<div ui-content-for="backAction">
    <a ng-click="back()" class="btn">返回</a>
</div>
<div ui-content-for="navbarAction">
    <span></span>
</div>
<div class="scrollable">
	<div class="scrollable-content">
		<div class="section bg-light-blue text-white">
			当前e圆（个）
		</div>
		<div class="section bg-light-blue text-very-large text-center text-white"><b>35</b></div>
		<div class="section bg-light-blue text-right text-white">e圆常见问题</div>
		<div class="section">
            <div class="vv-table">
                <div class="vv-table-header">
                    <div class="btn-group justified text-center">
                        <span class="text-ellipsis">时间 </span>
                        <span class="text-ellipsis">类型</span>
                        <span class="text-ellipsis">体验金 </span>
                        <span class="text-ellipsis">状态</span>
                    </div>
                </div>
                <div class="vv-table-content">
                	<div class="btn-group justified text-center text-grey">
                        <span class="text-ellipsis">04-13 </span>
                        <span class="text-ellipsis">活动奖励</span>
                        <span class="text-ellipsis">100</span>
                        <span class="text-ellipsis">可用</span>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>