<div ui-content-for="title">
    <span>我的红包</span>
</div>
<div ui-content-for="backAction">
    <a ng-click="back()" class="btn">返回</a>
</div>
<div ui-content-for="navbarAction">
    <span></span>
</div>
<div class="scrollable">
	<div class="scrollable-content" ui-scroll-bottom="loadMore()">
		<div class="section bg-light-blue text-white">
			当前红包（元）
		</div>
		<div class="section bg-light-blue text-very-large text-center text-white"><b>{{ pocket_groups.remain || "0"}}</b></div>
		<div class="section bg-light-blue text-right text-white hide">e圆常见问题</div>
		<div class="section">
            <div class="vv-table text-center">
                <div class="vv-table-header">
                    <div class="btn-group justified text-center">
                        <span class="text-ellipsis">时间 </span>
                        <span class="text-ellipsis">类型</span>
                        <span class="text-ellipsis">金额 </span>
                        <span class="text-ellipsis">额度变化</span>
                    </div>
                </div>
                <div class="vv-table-content">
                    <div class="row" style="line-height:43px" ng-repeat="pocket in pockets">
                        <div class="col-xs-3 text-ellipsis">
                            <span class="text-ellipsis">{{ pocket.date }}</span>
                        </div>
                        <div class="col-xs-3 text-ellipsis">
                            <span class="text-ellipsis">{{ pocket.type }}</span>
                        </div>
                        <div class="col-xs-3 text-ellipsis">
                            <span class="text-ellipsis">{{ pocket.money | currency:"￥" }}</span>
                        </div>
                        <div class="col-xs-3 text-ellipsis">
                            <span class="text-ellipsis">{{ pocket.status }}</span>
                        </div>
                    </div>
                    <!-- push tip -->
                    <!-- <div class="push" ui-state="push_state" ui-if="push_state" ui-default="true">
                        <span class="text-center">{{pushmsg}}</span>
                    </div> -->
                    <div class="section text-center" ng-click="loadMore()">
                        {{page.message}}
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>