<div ui-content-for="title">
    <span>安全设置</span>
</div>
<div ui-content-for="backAction">
    <a ng-click="back()" class="btn">返回</a>
</div>
<div ui-content-for="navbarAction">
    <span></span>
</div>
<div class="section text-grey">为了确保您的账户安全，请您完成以下设置</div>
<div class="vv-divide"></div>
<!-- 手机绑定 -->
<div class="section section-wide" ng-show="safety_info.telephone.status == 2">
    <div class="block text-grey semi-auto semi-left-40 semi-right-150">
        <span class="semi-fixed-left semi-width-60 text-center">
                <i class="vv vv-35 vv-phone-authen"></i>
            </span>
        <span class="btn">手机绑定</span>
        <span class="semi-fixed-right semi-width-150 text-success text-center" style="line-height:35px"><i class="vv vv-text-success vv-22" style="margin-right:5px"></i>已认证</span>
    </div>
</div>
<div class="section section-wide" ng-show="safety_info.telephone.status != 2">
    <div class="block text-grey semi-auto semi-left-40 semi-right-150">
        <span class="semi-fixed-left semi-width-60 text-center">
                <i class="vv vv-35 vv-phone-authen"></i>
            </span>
        <span class="btn">手机绑定</span>
        <span class="semi-fixed-right semi-width-150 text-grey text-center" style="line-height:35px"><i class="vv vv-22" style="margin-right:5px"></i>未认证</span>
    </div>
</div>
<!-- 实名认证 -->
<div class="section section-wide" ng-show="safety_info.realname.status == 1">
    <div class="block text-grey semi-auto semi-left-40 semi-right-150">
        <span class="semi-fixed-left semi-width-60 text-center">
                <i class="vv vv-35 vv-name-authen"></i>
            </span>
        <span class="btn">实名认证</span>
        <span class="semi-fixed-right semi-width-150 text-success text-center" style="line-height:35px"><i class="vv vv-text-success vv-22" style="margin-right:5px"></i>已认证</span>
    </div>
</div>
<div class="section section-wide" ng-show="safety_info.realname.status != 1">
    <a ng-href="#/name-authen" class="block text-grey semi-auto semi-left-40 semi-right-150">
        <span class="semi-fixed-left semi-width-60 text-center">
                <i class="vv vv-35 vv-name-authen"></i>
            </span>
        <span class="btn">实名认证</span>
        <span class="semi-fixed-right semi-width-150 text-grey text-center" style="line-height:35px"><i class="vv vv-22" style="margin-right:5px"></i>未认证</span>
    </a>
</div>
<!-- 交易密码 -->
<div class="section section-wide" ng-show="safety_info.trade_password.status == 1">
    <div class="block text-grey semi-auto semi-left-40 semi-right-150">
        <span class="semi-fixed-left semi-width-60 text-center">
                <i class="vv vv-35 vv-password-1"></i>
            </span>
        <span class="btn">交易密码</span>
        <span class="semi-fixed-right semi-width-150 text-success text-center" style="line-height:35px"><i class="vv vv-text-success vv-22" style="margin-right:5px"></i>已设置</span>
    </div>
</div>
<div class="section section-wide" ng-show="safety_info.trade_password.status != 1">
    <a ng-href="#/update-trade-psd" class="block text-grey semi-auto semi-left-40 semi-right-150">
        <span class="semi-fixed-left semi-width-60 text-center">
                <i class="vv vv-35 vv-password-1"></i>
            </span>
        <span class="btn">交易密码</span>
        <span class="semi-fixed-right semi-width-150 text-grey text-center" style="line-height:35px"><i class="vv vv-22" style="margin-right:5px"></i>未设置</span>
    </a>
</div>
<!-- 登陆密码 -->
<div class="section section-wide" ng-show="safety_info.signin_password.status == 1">
    <div class="block text-grey semi-auto semi-left-40 semi-right-150">
        <span class="semi-fixed-left semi-width-60 text-center">
                <i class="vv vv-35 vv-password-2"></i>
            </span>
        <span class="btn">登陆密码</span>
        <span class="semi-fixed-right semi-width-150 text-success text-center" style="line-height:35px"><i class="vv vv-text-success vv-22" style="margin-right:5px"></i>已设置</span>
    </div>
</div>
<div class="section section-wide" ng-show="safety_info.signin_password.status != 1">
    <a ng-href="#/update-signin-psd" class="block text-grey semi-auto semi-left-40 semi-right-150">
        <span class="semi-fixed-left semi-width-60 text-center">
                <i class="vv vv-35 vv-password-2"></i>
            </span>
        <span class="btn">登陆密码</span>
        <span class="semi-fixed-right semi-width-150 text-grey text-center" style="line-height:35px"><i class="vv vv-22" style="margin-right:5px"></i>未设置</span>
    </a>
</div>