<div ui-content-for="title">
    <span>登录密码</span>
</div>
<div ui-content-for="backAction">
    <a ng-click="back()" class="btn">返回</a>
</div>
<div ui-content-for="navbarAction">
    <span></span>
</div>
<form name="updateForm" ng-submit="ajaxForm(this)">
    <div class="section">
        <div class="section"></div>
        <div class="section-wide" ng-if="safety_info.signin_password.status != 0">
            <div class="vv-input-group input-group-lg full-width">
                <span class="vv-input-group-addon"><i class="vv vv-20 vv-phone"></i></span>
                <input type="password" class="form-control border-radius-large" name="old_password" ng-model="input.old_password" required ng-minlength=8 placeholder="旧密码 请输入旧密码">
                <span class="vv-input-tip" ng-show="!updateForm.old_password.$valid">旧密码</span>
            </div>
        </div>
        <div class="section-wide">
            <div class="vv-input-group input-group-lg full-width">
                <span class="vv-input-group-addon"><i class="vv vv-20 vv-phone"></i></span>
                <input type="password" class="form-control border-radius-large" name="password" ng-model="input.password" required ng-minlength=8 placeholder="新密码 请输入新密码">
                <span class="vv-input-tip" ng-show="!updateForm.password.$valid">新密码,将作为您登录系统用的密码,并确保密码位数不少于8位</span>
            </div>
        </div>
        <div class="section-wide">
            <div class="vv-input-group input-group-lg full-width">
                <span class="vv-input-group-addon"><i class="vv vv-20 vv-phone"></i></span>
                <input type="password" class="form-control border-radius-large" name="password_1" ng-model="input.password_1" required ng-minlength=8 placeholder="新密码 请输入新密码">
                <span class="vv-input-tip" ng-show="input.password != input.password_1">再次输入密码,请确保两次输入的密码一致</span>
            </div>
        </div>
    </div>
    </div>
    <div class="vv-divide"></div>
    <div class="section">
        <button type="submit" class="btn btn-lg btn-primary block full-width rectangle" ng-disabled="(!(updateForm.password.$valid && input.password == input.password_1)) || updateForm.old_password.$invalid">完成设置</button>
    </div>
</form>
