<div ui-content-for="title">
    <span>交易密码</span>
</div>
<div ui-content-for="backAction">
    <a ng-click="back()" class="btn">返回</a>
</div>
<div ui-content-for="navbarAction">
    <span></span>
</div>
<div ng-show="oldPassword">
    <div class="section">
        <div class="semi-auto semi-left-150">
            <span class="semi-fixed-left semi-width-150  btn section-wide text-left">旧密码</span>
            <input type="text" class="form-control block full-width" placeholder="请输入交易密码">
        </div>
    </div>
</div>
<div class="section">
    <div class="semi-auto semi-left-150">
        <span class="semi-fixed-left semi-width-150  btn section-wide text-left">交易密码</span>
        <input type="text" class="form-control block full-width" placeholder="请输入交易密码">
    </div>
</div>
<div class="vv-divide"></div>
<div class="section">
    <div class="semi-auto semi-left-150">
        <span class="semi-fixed-left semi-width-150  btn section-wide text-left">确认密码</span>
        <input type="text" class="form-control block full-width" placeholder="请再次输入交易密码">
    </div>
</div>
<div class="section">
    <a href="" class="btn btn-lg btn-primary block full-width rectangle">完成设置</a>
</div>
