<div class="scrollable">
    <div class="scrollable-content">

<div class="project_text ELE">
	<h3>{{funding.title}}</h3>
    <p>{{funding.detail}}</p>
</div>
<div class="topicLine"></div>
<div class="proTopic" ng-repeat="topic in topicList">
            <dl>
                <dt><img ng-src="{{staticImageUrl + 'images/default-avatar.png'}}"></dt>
                <dd>
                    <p>

                   <!--     <span class="gray3">{{topic.topicUser}}</span> <span class="gray9">发表于{{topic.answerTime}}</span><a href="#/crowdFund/topicSubmit/{{funding.id}}/{{topic.id}}/reply" class="blue fr f14">参与话题</a>-->

                        <span class="gray3">{{topic.topicUser | limitTo:1}}*{{topic.topicUser | limitTo:-1}}</span> <span class="gray9">发表于{{topic.answerTime}}</span><a href="#/crowdFund/topicSubmit/{{funding.id}}/{{topic.id}}/reply" class="blue fr f14">参与话题</a>
                    </p>
                    <p class="gray6">{{topic.topicContent}}</p>
                    <div class="commentBox">
                        <ul ng-repeat="replies in topic.replies">
                            <li>
                                <i class="pic"><img ng-src="{{staticImageUrl + 'images/default-avatar.png'}}"></i>
                                <p style="width:450px;">{{replies.replyName}} : {{replies.replyContent}}</p>
                            </li>
                        </ul>
                    </div>
                </dd>
            </dl>
            <p>
                <a href="javascript:;"class="gray9">评论（{{topic.replies.length}}）</a>
                <a ng-href="#/crowdFund/topicSubmit/{{funding.id}}/{{topic.id}}/reply" class="gray9">回复</a>
            </p>
        </div>
<div class="nextStep">
	<a ng-href="#/crowdFund/topicSubmit/{{funding.id}}/topic/topic" class="nextbtn orangeBtn">去发布</a>
</div>

    </div>
</div>