<div class="scrollable">
    <div class="scrollable-content">

    <div class="order_progress ELE">
   <ul>
        <li>
            <h4><img src="images/orderProgress01.png"></h4>
            <p>订单填写</p>
        </li>
        <li class="arrow"><img src="images/cf_arrow.png"></li>
        
        <li class="selected">
            <h4><img src="images/orderProgress03_on.png"></h4>
            <p>支付</p>
        </li>
        
        <li class="arrow"><img src="images/cf_arrow.png"></li>
        
        <li>
            <h4><img src="images/orderProgress04.png"></h4>
            <p>完成</p>
        </li>
    </ul>
</div>

<form name="payForm" ng-submit="nextStepPay(orderInfo)" method="POST" id="payForm">
<input type="hidden" name="req_data" value="{{orderInfo.payMap}}">
<div class="orderWrite confirm">
	<p class="para01"><span class="orange">在线支付</span></p>
    <dl>
    	<dt>投资金额：</dt>   
        <dd><span class="orange">￥{{orderInfo.money}}</span></dd>
    </dl>
     <dl>
    	<dt>账户余额：</dt>    
        <dd><span class="orange">￥{{orderInfo.balance}}</span></dd>
    </dl>
    <dl>
    	<dt>网银支付：</dt>
        <dd class="text-left"><span class="orange">￥{{orderInfo.surplus}}</span></dd>
    </dl>
    <dl class="pwdArea">
    	<dt>交易密码：</dt>
        <dd class="text-left">
        	<input type="password" class="form-control block full-width" name="password" ng-model="input.password" ng-minlength=6 required placeholder="请输入交易密码,6位以上">
            <span class="vv-input-tip" ng-show="payForm.password.$dirty && payForm.password.$error.required || payForm.password.$error.minlength" style="position:absolute;right:0;top:-17px;color:#f70">密码必填,不少于6位</span>
        </dd>
    </dl> 
</div>
<div class="section">
        <button type="submit" class="btn btn-primary" ng-disabled="payForm.$invalid">下一步</button>
    </div>
<!-- <div class="nextStep" ng-show="{{orderInfo.flag != true}}">
    <a ng-click="nextStepPay(orderInfo.appliedId)" class="nextbtn" ng-disabled="buyForm.$invalid">下一步</a>
</div> -->
<!-- <form  method="post" action="https://yintong.com.cn/llpayh5/authpay.htm" id="payForm" ng-show="{{orderInfo.flag}}">
			<input type="hidden" name="req_data" value="{{orderInfo.payMap}}">
            <div class="nextStep" ng-show="{{orderInfo.flag}}">
                <a ng-click="nextBtnPay()" class="nextbtn">下一步</a>
            </div>
</form> -->
    </form>



    </div>
</div>